[2014-07-31 19:33] geek opened #1 "Replace instances of forEach with for"
For hot code paths for is more performant... it may be worth refactoring and using for

[2014-07-31 20:35] #1 closed, assigned to nobody

[2014-08-05 21:41] nlf opened #4 "does not stringify booleans or buffers properly"

[2014-08-05 21:41] #4 closed, assigned to nlf

[2014-08-06 00:07] dougwilson opened #5 "array holes incorrectly copied into object on large index"
The following:

[code]

results in the following

[code]

Since 0 and 1 were actually holes in the array (i.e. `!(0 in arr)`), they should not have properties created from them in the object. I would expect:

[code]

which _is_ the output if you had them backwards: `qs.parse('a[999999999]=1&a[2]=2')`

TL;DR I think `qs.parse('a[2]=2&a[999999999]=1')` should have the same resulting object (with the

[2014-08-06 00:18] #5 closed, assigned to nlf

[2014-08-06 02:00] ibaaj opened #7 "Empty values of a POST array disappear after being submitted"
Following my [conversation](https://twitter.com/blipsofadoug/status/496834902344867840) with @blipsofadoug on Twitter

He says that `It is an issue when you are using "extended" urlencoded body parsing`

Empty values of a POST array disappear after being submitted.

HTML :

[code]

in php : print_r($_POST['data'])

[code]

in nodejs console.log(req.body.data)

[code]

[2014-08-06 17:39] nlf opened #9 "Should not omit equals signs (=) when value is null"

[2014-08-06 17:43] #9 closed, assigned to nlf

[2014-08-06 17:43] #7 closed, assigned to nlf

[2014-08-07 05:15] dougwilson opened #11 "Flattened keys in array does not parse correctly"
Sorry for the bad title, I have no idea what to call it :) So, take a look at this bug: https://github.com/expressjs/body-parser/issues/36

It looks like `"order[0][quantity]=5&order[0][size]=small&order[0][status]=frozen"` is getting parsed to `order: [ { status: 'frozen' } ]`.

[2014-08-07 13:14] #11 closed, assigned to nobody

[2014-08-07 13:56] nlf opened #14 "cleanup comparisons to undefined literal, remove hasOwnProperty check in for loop"

[2014-08-07 13:56] #14 closed, assigned to nlf

[2014-08-11 16:03] dougwilson opened #17 "Better API for inflating first-level object keys?"
Hi, so an issue was brought up in https://github.com/andrewrk/connect-multiparty/issues/11 earlier today. Basically it boils down to a need for a real object conversion API here, I think. I would like to be able to pass in an object and have this library expand out just the keys into a rich object and leave the values alone.

Basically I would like to have something that takes

[code]

and gives

[2014-08-13 14:18] seeden opened #18 "Why is there arrayLimit?"
I am not really sure why you are using this limit. There is no option to change this value. Do you have a good reason for this? Because I have JSON structure with list of pictures greater than 20

[2014-08-14 20:15] #17 closed, assigned to nobody

[2014-08-25 17:18] dougwilson opened #20 "Configurable parametersLimit"
It would be nice if the second parameter was just an object to specify the options like the separator, parametersLimit, etc. Or maybe copy the interface of https://github.com/joyent/node/blob/v0.10.24/lib/querystring.js#L160 (though I think just a single second options argument is good enough).

Inspiration: https://github.com/expressjs/body-parser/issues/41

[2014-08-25 20:03] #20 closed, assigned to nlf

[2014-08-25 20:03] #18 closed, assigned to nlf

[2014-08-26 01:09] dougwilson opened #23 "Ability to not limit parameters?"
So I just noticed this when comparing the options of `qs` to `querystring`: `querystring` accepts `0` or `Infinity` to say no limit on the keys (though it by default has no limit). Providing either of those two values to this module results in an empty parse. I'm not sure if you want to support those (the `0` thing seems dumb to indicate "no limit", but whatever), but thought I'd bring it up :)

[2014-08-26 05:21] #23 closed, assigned to nlf

[2014-08-26 16:40] lukemadera opened #24 "Changelog? Semver?"
Hi, I noticed this went from 1.2.2 to 2.1.0 and via semver conventions that would imply a breaking change? Though I don't see any Changelog - any reason there's not one? And can I safely update to the new version seamlessly or do I need to change my code/use of qs appropriately?
Thanks.

[2014-08-26 19:24] mjackson opened #25 "Remove references to Buffer"
References to the `Buffer` global variable assume the environment is node.js, but it's a shame to limit the use of this package to node environments when it could easily be used in browsers as well.

Can we modify these checks to make qs more browser-friendly?

[2014-08-26 22:01] #25 closed, assigned to nobody

[2014-08-26 22:22] lucaswxp opened #27 "Problems with non-zero-based names"
Heys guys.

When I have a input like:

[code]

I get the expected array value

[code]

But when the input doesn't start with a zero based index, for instance:

[code]

I would expect a return value such as:

[code]

But I still get the same result as before:

[code]

Reference: https://github.com/expressjs/body-parser/issues/40

[2014-08-27 15:51] nlf opened #29 "Don't call Utils.clone at the top of Utils.merge"
See #20

This is causing a pretty significant performance hit and is completely unnecessary.

[2014-08-27 15:53] #29 closed, assigned to nlf

[2014-08-27 16:33] nlf opened #30 "Bug when merging non-object values into arrays"

[2014-08-27 16:33] #30 closed, assigned to nlf

[2014-08-27 16:36] #27 closed, assigned to nlf

[2014-08-28 13:56] dougwilson opened #31 "qs.parse stackoverflow on circular objects"
So when using `qs.parse` and passing in an object to expand out the top-level keys, if somewhere in the value is a circular reference, it will fail with `RangeError: Maximum call stack size exceeded`. Here is a simple example:

[code]

I'm really only reporting this because it used to work with the old `qs` library. It was reported to me here: https://github.com/andrewrk/connect-multiparty/issues/

[2014-08-28 20:37] #31 closed, assigned to nlf

[2014-08-28 20:51] #24 closed, assigned to nlf

[2014-08-29 06:58] dougwilson opened #33 "Error when plain object in a value"
brief reproduction (from https://github.com/andrewrk/connect-multiparty/issues/11#issuecomment-53842879):

[code]

[2014-08-29 20:33] #33 closed, assigned to nlf

[2014-09-02 11:57] pgn-vole opened #35 "Parser return a array with empty string even if there is no value to the parameter"
Hi,
I noticed a change in the behavior of this library compared to the one it replaces (https://github.com/visionmedia/node-querystring)

The previous :
`console.log(parse('param[]=')) // log  []`

This one :
`console.log(parse('param[]=')) // log  ['']`

To me the previous behavior made more sense.
Now even if the param has no value the array returned by the parser has a length of 1

Can you conf

[2014-09-03 17:26] nlf opened #36 "Update to lab 4.x"

[2014-09-03 17:27] #36 closed, assigned to nlf

[2014-09-04 00:34] #35 closed, assigned to nlf

[2014-09-05 05:17] t-yamo opened #37 "parser discards first empty value in array"
Hi, I use this awesome library. But there is one wonder point.

[code]

[code]

Is case2 expected value?

[2014-09-05 18:30] #37 closed, assigned to nlf

[2014-09-16 06:41] Navgeet opened #38 "how to handle object keys beginning with a number"
[code]

[code]

Is the above behavior expected? If yes, how to handle such keys?

[2014-09-18 23:00] #38 closed, assigned to nlf

[2014-09-22 08:29] dominykas opened #39 "Is there an alternative to Buffer.isBuffer?"
https://github.com/hapijs/qs/blob/master/lib/utils.js#L134 contains a call to `Buffer.isBuffer`. This means that when `qs@2.x` is browserified (we're still on 0.6 for the client side...), the whole Buffer module is pulled in - which adds an extra 40kb (~20kb minified) of code in the bundle - and all of it for just this one function, which is only used once.

~~I'll try to see if there's a workarou

[2014-09-22 21:36] arb opened #40 "Test Cleanup"
Clean up tests to be in line with https://github.com/hapijs/discuss/issues/24

[2014-09-26 18:55] ngryman opened #42 "Number parsing"
Hi,

Would it be possible to get a `number` when possible, instead of a `string`?
For this query string: `?a=2`, we currently get `{ a: '2' }`. This would be awesome to have `{ a: 2 }`.

Thanks!

[2014-09-28 03:04] #42 closed, assigned to nobody

[2014-09-29 11:26] dspaeth-faber opened #43 "Failure parsing url escaped data from windows"
Hi,

a windows client sends me the following sequence:

[code]

Javascripts `unescape` can handle this sequence,
Qs can't. I think it's ucs2 encoding.

A spec would look like this:

[code]

Is this to be considered a Qs-Bug?

Regards
Dieter

[2014-09-29 18:42] #43 closed, assigned to nlf

[2014-09-29 18:43] #40 closed, assigned to nobody

[2014-09-29 19:11] saml opened #45 "Cannot parse mix of simple array and explicit array."
The following testcase would fail:

[code]

Not sure if above is valid testcase to be honest.

[2014-10-06 02:40] ryanseys opened #46 "Option to omit array indices"
I would like to have the option to omit array indices from the stringify. That is:

[code]

This is important for formatting requests that are compatible with the Google APIs which don't accept array indices in their request query parameters.

[2014-10-06 16:50] dmitriyles opened #47 "Array of objects parsing"
I'm trying to parse an IPN message from PayPal, and it has an array of objects in a query string:
[code]
`Qs.parse()` gives me this result:
[code]
while I was expecting for:
[code]
Is there any way to achieve this? I'm using v2.2.4

[2014-10-14 19:30] sshaginyan opened #48 "Is there no client-side version?"
I would love to see this client-side.

[2014-10-17 16:19] #48 closed, assigned to nlf

[2014-10-22 21:36] #45 closed, assigned to nobody

[2014-10-22 21:41] #46 closed, assigned to nobody

[2014-10-23 15:44] albertoleal opened #51 "2.2.5 throws type error for undefined/false values"
The version `2.2.5` breaks the compatibly with 2.2.4, returning  `TypeError: Object.keys called on non-object` instead of returning the value.

[2014-10-23 16:22] #51 closed, assigned to nlf

[2014-10-26 11:36] pocesar opened #54 "bower.json"
Since this module can be browserified and used in the browser, would be nice to be available through bower, and have a dist folder with the already browserified package.

[2014-10-29 15:27] #39 closed, assigned to nlf

[2014-10-30 02:20] dougwilson opened #57 "Disable array parsing"
So I wanted to disable array parsing by doing `arrayLimit: 0`, but apparently it will still create arrays when the index is `0`, which is oddly misleading :)

[code]

But I figured out I could do `arrayLimit: -1` and it would work, so I hope it's an official option :)

[code]

But now I'm running into the problem where a person can specify a negative number and turn my objects into arrays anyway,

[2014-11-14 00:50] #57 closed, assigned to nlf

[2014-11-14 00:51] nlf opened #60 "Add explicit option to disable array parsing"
Add a `parseArrays: false` option to explicitly disable parsing of arrays, rather than setting `arrayLimit: -1`

[2014-12-04 23:29] neverfox opened #61 "Inconsistency with valueless keys"
[code]

[2014-12-16 11:14] Meai1 opened #62 "What kind of license does qs have?"
I see the license text and it seems okay, I apparently just have to include it if I modify the source and of course add the license.

But is there an official name for the license? It doesn't seem to be MIT or Apache or BSD.

[2014-12-16 18:05] #62 closed, assigned to nobody

[2014-12-18 02:51] dougwilson opened #63 "Perhaps follow the W3C JSON forms spec?"
It seems there is a technical report on adding in JSON to HTML forms: http://www.w3.org/TR/html-json-forms/

The syntax seems to pretty much be exactly what is being done here, but with slight differences (really, the differences just define the edge cases like how `foo=bar&foo[0]=baz` should parse: `{"foo":{"":"bar","0":"baz"}}`). It would also mean you have a good bullet against all the argument

[2015-01-05 17:10] nlf commented on #63
Yes! I'm so happy there's a standard that I can point to for this. Definitely going to do this, thank you for bringing this to my attention!

[2015-01-05 17:24] dougwilson commented on #63
Cool :) The best part is it's nearly the same as this module already :) Feel free to back pedal on this issue as well; I haven't fully read the spec, and of course, you'll form better opinions on it once you do, haha.

[2015-01-05 17:25] nlf commented on #63
Yeah, I'll read through the spec first, but I'm super excited if this will work. All the ambiguity in this module is a huge annoyance.

[2015-01-05 17:30] dougwilson commented on #63
Plus all the bikeshedding regarding how it works :)

[2015-01-08 23:44] zaim opened #64 "Add option to sort object keys"
Consider adding an option to sort object keys. This could be useful when using query strings for (or as part of) a unique key, ensuring the order of property declaration doesn't affect output.

[code]

I can work on this and provide pull request if okay.

[2015-01-12 14:43] Dakuan commented on #46
Trouble with this is that if you are dealing with a PHP or Rails backend, it expects

`a[]=b&a[]=c`

[2015-01-14 10:35] wvengen commented on #46
The presence of an index is an issue [here](https://github.com/rendrjs/rendr/issues/416) as well. What about omitting indices when the option `indices` is set to `'empty'`?

[2015-01-14 10:40] Dakuan commented on #46
I know we dont like breaking changes, but I wonder if the *ideal* solution takes account of the fact that there are 3 array formats in use:

Rails, PHP, jQuery: `a[]=b&a[]=c`
Java, Go, c#: `a=b&a=c`
Express: `a[0]=b&a[1]=b`

something along the lines of:

[code]

[2015-01-14 11:00] Dakuan commented on #46
@wvengen see https://github.com/hapijs/qs/pull/65 too

[2015-01-14 19:12] nlf commented on #46
I think that's a good compromise

[2015-01-15 09:36] wvengen commented on #46
Thanks, @Dakuan, for making it clear that the three array formats are all used.

I'm seeing four proposals:
1. Don't remove brackets when `indices` is `false` - #65
2. New option `brackets` in addition to `indices` - https://github.com/hapijs/qs/pull/65#issuecomment-69627429
3. New option `format` to replace `brackets` - https://github.com/hapijs/qs/issues/46#issuecomment-69898182
4. New value `em

[2015-01-15 09:48] Dakuan commented on #46
@wvengen I think thats a bit confusing, the word indices looses its meaning - `{indices: 'brackets'}` wouldn't really explain whats going on if you were coming at the code cold. How about:

[code]

[2015-01-15 09:51] wvengen commented on #46
@Dakuan Hmm I agree :) Then, reading your example, I'm wondering if 'arrayFormat' or 'arrays' would be clearer? These options are for the whole stringification, and this only handles about arrays.

[2015-01-15 10:03] Dakuan commented on #46
true! I like `arrayFormat`

@nlf thoughts?

[2015-01-15 15:01] nlf commented on #46
I'm a +1 for arrayFormat

[2015-01-17 23:55] mhils opened #67 "merge fails to overwrite properties"
Hi there,

I stumbled upon this in https://github.com/rackt/react-router/pull/599 - I cannot override properites using `lib/utils:merge`:

[code]

Is this desired behaviour? If not, any idea for a workaround?

Thanks!
Max

[2015-01-20 00:40] nlf commented on #67
I'm not sure why you're trying to use the merge method from this directly, as that's not intended usage at all and is not supported.

If you need a `merge` function, you should look at something like [hoek](https://github.com/hapijs/hoek), [underscore](http://underscorejs.org), [lodash](http://lodash.com), or [amp](http://amp.ampersandjs.com/#amp-merge)

[2015-01-20 00:40] #67 closed

[2015-02-24 21:39] adam-beck commented on #64
I think a compare function would be more beneficial. Just a simple `boolean` would limit how the object keys are sorted.

[2015-02-24 22:58] Marsup commented on #64
Doesn't mean it can't be both. It'll probably be faster without the function call.

[2015-03-13 22:19] defunctzombie opened #73 "Property 'hasOwnProperty' of object #<Object> is not a function"
https://github.com/hapijs/qs/blob/master/lib/parse.js#L32

When the object is created via `Object.create(null)` it does not have object properties. Instead, the following should be used:

[code]

[2015-03-13 22:58] nlf commented on #73
In the context of this function, `obj` is created here https://github.com/hapijs/qs/blob/master/lib/parse.js#L18 so we know for certain it was not created via `Object.create(null)`

[2015-03-13 23:02] defunctzombie commented on #73
Not if someone is trying to compromise your server via bad urls :) I will try to dig up the request that causes failure, but I will say that this should be fixed and is indeed broken ;)

I am using an up to date version of express 4.12 but obviously would be more idea if I reproduced against this module directly which I will try to do if you want proof.

[2015-03-13 23:03] nlf commented on #73
If you can prove it with a test case I'll definitely fix it, but seeing as this method is what is creating the `obj` variable in a known fashion, I fail to see how it's possible that it could break in this particular line.

[2015-03-13 23:33] evilpacket commented on #73
[code]

[2015-03-13 23:34] nlf commented on #73
Have a test now, you were right @defunctzombie great find!

[2015-03-13 23:38] #73 closed

[2015-03-13 23:39] nlf commented on #73
fixed in 4.2.1

[2015-03-13 23:59] defunctzombie commented on #73
Thanks for the quick response!

@dougwilson ping to bump express qs usage

[2015-03-14 00:08] dougwilson commented on #73
Thanks for the ping :) I was already planning to roll a `debug` bump tonight, so this just made it and I'll be pretty quick :D I appreciate the heads-up :)

[2015-03-14 00:31] dougwilson commented on #73
The good news is it doesn't cause a crash in Express (*phew*), only an annoying 500 error.

[2015-03-14 00:42] defunctzombie commented on #73
Yep :) caught it via our error logging

On Friday, March 13, 2015, Douglas Christopher Wilson <
notifications@github.com> wrote:

[2015-03-15 04:21] dougwilson opened #74 "Bad parse when turning array into object"
The following shows that when a key starts as an array, values that match `Object.prototype` keys are basically treated as if they are just an empty bracket for some reason. I would not expect the `1` property to exist in the example below:

[code]

[2015-03-15 04:22] dougwilson commented on #74
And the following parse is even more bizarre:
[code]

[2015-03-15 05:18] dougwilson opened #75 "Change log is missing two releases"

[2015-03-16 04:39] dougwilson commented on #73
So apparently this is not a bug fix, but a complete behavior change. It basically can be described as "Ignore keys that override `Object.prototype` properties" and ignores anything attached to `Object.prototype` and not just `hasOwnProperty`. This means I cannot actually include this in Express until the next minor, not a patch.

[2015-03-16 04:44] dougwilson commented on #73
It basically means that any random module you loaded in your code base can now affect your `qs` parse, even by accident. I jut noticed this because some module was doing `Object.defineProperty(Object.prototype, find, {...})` and with this release, no longer can you have a query string parameter named `find`.

[2015-03-16 05:02] dougwilson commented on #73
@defunctzombie let me know how you feel about this finding, but to me, this change is way too impactful to ever make it into Express 3/4 since this module is the default query string parser and it's basically asking people to restructure their entire application if they want to use certain query string parameter names + the enhanced syntax here.

Express currently handles any errors from this modu

[2015-03-16 05:40] dougwilson commented on #73
At the most basic level, though, I feel like this library is very inconsistent, now:
[code]

[2015-03-16 05:44] defunctzombie commented on #73
I am not sure what the exact fix should be here but I can say that it
caused a crash of the app server and not a 400 request because of the
hasOwnProperty function call when the function does not exist.

On Sunday, March 15, 2015, Douglas Christopher Wilson <
notifications@github.com> wrote:

[2015-03-16 05:48] dougwilson commented on #73
@defunctzombie oh, I didn't realize, I though you were saying it was just an annoyance, otherwise I would have released a new Express days ago :( I'm going to add a `try`-`catch` to https://github.com/strongloop/express/blob/master/lib/middleware/query.js for now. Hopefully the issues I outlined above can be addressed by this module, otherwise I may need to seek an alternative for Express.

[2015-03-16 05:50] nlf commented on #73
Hmmm.. I see the problem. I'll rethink this and see if I can come up with a better solution first thing tomorrow morning

[2015-03-16 05:51] defunctzombie commented on #73
A try/catch would be good then maybe we can think about what the fix here
should be.

On one hand using reserved object properties as names isn't good but on the
other the object here should be treated like a hash map and not a
traditional js object so that any name could be used in the query string.

Maintainers, thoughts?

On Sunday, March 15, 2015, Douglas Christopher Wilson <
notifications@git

[2015-03-16 05:52] dougwilson commented on #73
Yes, @defunctzombie I'm slapping out across-the-board `try`-`catch` patches right now :(

[2015-03-16 06:07] dougwilson commented on #73
Wait a minute, lol, the Express server doesn't crash at all; it just sends back a 500 response:
[code]
Which means there is nothing critical to take care of right now.

[2015-03-16 06:10] dougwilson commented on #73
Wait a minute, lol, the Express server doesn't crash at all; it just sends back a 500 response:
[code]
Which means there is nothing critical to take care of right now (at 2am Sunday morning). Basically it's just an annoyance right now and not a DoS vector, say.

[2015-03-16 06:10] defunctzombie commented on #73
Sorry, I did indeed mean to say it sends a 500. We log all 500s as app
level errors and thus the 500 was an annoyance and not a crash. Apologies
for not making that clear.

500 is still not ideal and we should think about the fix because a 500
usually means a dev needs to go see what is going on with the server.

On Sunday, March 15, 2015, Douglas Christopher Wilson <
notifications@github.com> wro

[2015-03-16 06:16] dougwilson commented on #73
@defunctzombie I agree we need to take care of it. I was just working on pushing this stuff out, ran into the weird changes in the `qs` patch in the process and didn't want to risk it for the time being with the `qs` patch. Something like a DoS vector is critical and I would stay to all hours of the night to fix as soon as soon as I was made aware of such a thing, which is why I "panicked" :) Sinc

[2015-03-17 01:31] dougwilson commented on #73
@defunctzombie while we wait for this issue to be resolved, I think I'm actually going to change the wrapper not to return a 400, but rather an empty object `{}`, as if there were no query string parameters? Right now this whole situation is a bit tricky. When we parse a query string, we should _always be successful_, because there is no input you can provide that is bad, really. Returning a 400 s

[2015-03-17 01:47] defunctzombie commented on #73
In the current case tho I think a 400 is correct, no? The client specified
a query string which the server seems to be "bad" because it messes with
some expectations we have outlined.

Failing silently will lead to users possibly complaining to app authors
that things are not working as expected.

On Monday, March 16, 2015, Douglas Christopher Wilson <
notifications@github.com> wrote:

[2015-03-17 01:50] nlf commented on #73
@dougwilson @defunctzombie so I'm trying to think through this.. I definitely feel like it's best to continue refusing to overwrite keys that belong to the object's prototype, since this is a security concern. After all, the reason you were seeing errors at all is because someone was attempting to write to the `hasOwnProperty` key, which means that if the client later tries to use `hasOwnProperty`

[2015-03-17 01:57] dougwilson commented on #73
In the end, this is why the return should be of `Object.create(null)`, because `qs.parse` should be returning a "bag of keys" and server code should not be calling methods on anything in it (and `Object.create(null)` makes is extremely apparent that people should not be, since they won't even be able to). But even then, `JSON.parse` does not have any problem doing this and neither does `querystrin

[2015-03-17 01:59] nlf commented on #73
I tend to agree. I'll look into shuffling things a bit.

[2015-03-17 02:10] nlf commented on #73
Ok, so even with the change I made a bit ago you still effectively get keys that match prototype methods stripped due to additional checks.

What I'm going to do is shuffle things so that this module only deals with objects created via `Object.create(null)` so that we don't have to worry about overwriting prototypes. Then we can just document that the passed objects will not have prototypes associ

[2015-03-17 02:12] defunctzombie commented on #73
Awesome stuff! Great discussion and I think the end result will be a
cleaner interface and expectation of functionality.

On Monday, March 16, 2015, Nathan LaFreniere <notifications@github.com>
wrote:

[2015-03-17 02:14] dougwilson commented on #73
In the meantime, I'm going to use whatever version of `qs` is published at the end of tonight in some Express/Connect updates and then change over later :)

[2015-03-18 17:02] #75 closed

[2015-03-19 19:42] AdriVanHoudt opened #77 "Perf boost"
io.js 1.6.0 landed a perf boost for parse and stringify maybe worth taking a look at? https://github.com/iojs/io.js/pull/847

[2015-03-26 14:48] scharf opened #79 "In 'a&b=' treat `a` as boolean flag (true)"
If no `=` is given for a flag, it should be handled as boolean (`true`).

For example:

[code]

without the `allowBoolean` option, it should not do this conversion (as it does today):

[code]

[2015-03-26 15:41] jerone commented on #42
I'm wondering why the (official) JSON standard isn't followed from the beginning?

Now I have to server-side convert all string matching the number-pattern to real numbers. Maybe add an option `strict` to comply to the standards and keep backwards compatibility.

http://json.org/
https://www.ietf.org/rfc/rfc4627.txt
http://rfc7159.net/rfc7159#rfc.section.6
http://www.ecma-international.org/ecma-26

[2015-03-28 04:24] dougwilson opened #80 "qs.parse silently drops properties"
I'm just opening a new issue so that old one does not get lost. This is a general continuation as a new issue from https://github.com/hapijs/qs/issues/73#issuecomment-81431366 and onwards.

Because `qs` silently discards properties, it makes this library _unsuitable for any real REST API_. It only works for "toy" web sites that have a very explicit list of keys in all routes. With this module, one

[2015-04-14 20:07] hueniverse commented on #80
Is this a bug?

[2015-04-14 20:08] nlf commented on #80
technically? it's a side effect of not allowing properties that match those on the object prototype. the solution is switching to a plain object for storage so we don't care about the prototype

[2015-04-20 22:02] notduncansmith commented on #54
Any word on this?  Would love to use it with Bower.

[2015-04-22 04:41] RGBboy opened #82 "Option to dedupe multiple keys with the same name"
I couldn't find it in the readme but does this module support deduping params?

I was expecting if I send a=true&a=false I would get a: 'false'

But currently I get a: [ 'true', 'false']

Is this something qs supports? If not would you be open to supporting it?

[2015-04-22 06:40] Marsup commented on #82
This is how parsing is supposed to be done AFAIK.

[2015-04-22 06:43] RGBboy commented on #82
@Marsup as in it should get set to `'false'`? Or the other way?

[2015-04-22 06:43] Marsup commented on #82
If you have multiple parameters with the same name, it should become an array.

[2015-04-22 06:47] RGBboy commented on #82
Yep that is what happens currently. However some parsers would deduplicate this and just set it to the last defined value. For example parsing JSON does this if you define a property twice.

Would you be open to a pull request to add this functionality behind an option?

[2015-04-22 06:49] Marsup commented on #82
I don't think parsers for other formats are relevant here, look at the other query string parsers, all the ones I know do that.

I'll let @nlf decide on that behavior change but I think it'll be a no.

[2015-04-22 06:53] RGBboy commented on #82
Here is my use case if that helps justify the change:

I have an html form with a checkbox. Because browsers only pass the value of a checkbox if it is checked I also have a hidden input to set the unchecked value. This hidden input uses the same name as the checkbox input. When this data is then parsed by qs I get an array, not a single value which is what I would like.

[2015-04-22 06:57] Marsup commented on #82
Bad design IMHO. If the value is missing, default to false.

[2015-04-22 06:58] RGBboy commented on #82
Not if you have to cater for true, false and undefined.

[2015-04-22 06:59] Marsup commented on #82
Then preprocess the query you're sending, but not with some tricks with hidden fields. It's not the server side that needs fixing.

[2015-04-22 07:03] RGBboy commented on #82
Unfortunately I can't preprocess because we must cater for clients with no Javascript. Unfortunately the W3C spec forces developers down this road if they want to use checkboxes. If we could use Javascript I would just send JSON and not use query strings at all.

[2015-04-22 07:18] Marsup commented on #82
Then why not radio buttons ? Tri-state checkbox in pure html don't exist, the only way to set it is through javascript, so no js, no tri-state. If your user has no possibility to set it himself, I don't see how this can make a difference between "false" and "never been touched false".

[2015-04-22 08:14] RGBboy commented on #82
That is true for a single form, but not for multiple with the same endpoint. When a user submits a form with no checkbox we receive undefined (which we interpret as no change) where as if we receive true or false we update the value given.

[2015-04-22 08:27] Marsup commented on #82
Then what about not using the same name and default to it with joi (considering you're using it), like :
[code]

[2015-04-22 17:39] nlf commented on #82
I tend to agree that this shouldn't be `qs`'s problem, it providing the server with *all* passed in parameters is the idea. I don't really like the idea of adding in options for edge cases, especially where a little extra processing after the parsing is done is not much work in your app.

[2015-04-22 18:00] nlf commented on #82
Closing this unless there ends up being more demand for it

[2015-04-22 18:00] #82 closed

[2015-04-22 18:03] nlf commented on #54
sorry for the delay, yes i plan to make this work soon though

[2015-05-09 20:53] nlf opened #83 "rework fix for #73"
closed via e2e0a5c1e6707f50e4b8c1e232d87ba9b003ad8f

[2015-05-09 20:53] #83 closed

[2015-05-19 12:27] pierot commented on #79
I would argue that the other way around, giving a null as value for a key, should generate a querystring value without the `=`.
[code]

Empty string could still behave as it is doing right now:
[code]

[2015-05-19 12:48] scharf commented on #79
@pierot That makes a lot of sense!

Because the following fails today, the following assertion fails:

[code]

[2015-05-19 18:16] pierot commented on #79
I made a pull request for this: https://github.com/hapijs/qs/pull/85

[2015-05-21 04:37] JacksonTian opened #86 "the unit test failed"

[2015-05-21 05:45] #86 closed

[2015-05-21 19:40] nlf commented on #79
Closed via #85

[2015-05-21 19:40] #79 closed

[2015-05-21 19:42] nlf commented on #74
this is related to #80

[2015-05-21 19:43] nlf commented on #61
There's an option to omit the `=` for `null` values now, see #85. closing this

[2015-05-21 19:43] #61 closed

[2015-05-21 19:44] nlf commented on #47
Closed via #66

[2015-05-21 19:44] #47 closed

[2015-05-22 17:56] #74 closed

[2015-05-22 17:56] #80 closed

[2015-05-22 17:57] nlf commented on #63
While I'd like to do this, I think this module isn't the right place for it. There are so many wild edge cases that this module already caters to that dropping them all in favor of this standard would likely cause adoption issues that I'd like to avoid. I'm going to close this for now, but potentially this could become a new module in the future.

[2015-05-22 18:02] #60 closed

[2015-05-22 18:07] dougwilson commented on #63
Thanks for your thoughts, @nlf :) We'll write our own parser, then :)

[2015-05-22 19:03] nlf commented on #77
the encode method for stringifying had a substantial impact, nothing else really applies to our code base. still, was worth looking, thanks!

[2015-05-22 19:07] AdriVanHoudt commented on #77
So did you change anything? Else this issue can be closed.

On Fri, 22 May 2015 21:03 Nathan LaFreniere <notifications@github.com>
wrote:

[2015-05-22 19:08] nlf commented on #77
I did, I incorporated the encode method. Working on writing some additional tests.

[2015-05-22 19:10] AdriVanHoudt commented on #77
OK cool, glad I could help, certainly for something that is used a lot even
a small perf gain can do a lot in the long run

On Fri, 22 May 2015 21:08 Nathan LaFreniere <notifications@github.com>
wrote:

[2015-05-22 19:18] #77 closed

[2015-05-22 19:32] #54 closed

[2015-05-23 01:53] pocesar commented on #54
:+1:

[2015-05-25 18:08] dougwilson opened #89 "Add option to disable "Transform dot notation to bracket notation""
Can we get an option to disable the new "Transform dot notation to bracket notation" functionality? We would like to keep our code base current with the latest version of this module, but we do NOT want to allow users to submit this new syntax to our API. Since this is done just through a `.replace`, it seems like it would be trivial to add a switch that would skip that transformation (but it can

[2015-05-25 20:13] nlf commented on #89
Absolutely. I'll get that added tonight or tomorrow.

Sent from my iPhone

On May 25, 2015, at 11:08 AM, Douglas Christopher Wilson <
notifications@github.com> wrote:

Can we get an option to disable the new "Transform dot notation to bracket
notation" functionality? We would like to keep our code base current with
the latest version of this module, but we do NOT want to allow users to
submit this

[2015-05-27 11:46] AdriVanHoudt opened #90 "update changelog"
What has changed from 2.x to 3?

[2015-05-27 16:07] #89 closed

[2015-05-27 16:14] #90 closed

[2015-05-27 22:24] xpepermint opened #91 "Parse booleans & numbers"
[code]
Currently I use `express-query-boolean` package which parses `true` and `false` strings into boolean but it would be great to have this feature included in `qs`.

[2015-05-28 17:05] nlf commented on #91
My current feeling is that this belongs elsewhere. There are so many conversion patterns that could take place that I don't really want to open the can of worms of implementing them all here. Unless there's a large demand for this, I'm going to say no.

Leaving open for discussion, however.

[2015-05-28 17:11] xpepermint commented on #91
OK, I made a plugin for now https://github.com/xpepermint/query-types.

[2015-06-01 04:05] dougwilson commented on #89
Thanks! Though I don't see mention of the option in the Readme?

[2015-06-01 12:57] davidraleigh commented on #91
I think the @xpepermint request is valid. I was disappointed to see that this isn't a feature. That parse assumes all numbers are strings makes it not so helpful.

[2015-06-01 14:23] tophsic opened #92 "Array with keys that contains dot"
Hi,

I discovered `qs` but this is a case I need in a current project :

[code]
I am preparing a pull request.

[2015-06-01 14:33] tophsic commented on #92
I did not see `allowDots` options.

[code]

[2015-06-01 16:08] #92 closed

[2015-06-01 16:09] nlf commented on #89
it's in the readme now courtesy of #93

[2015-06-02 08:35] dominykas commented on #90
I went through the issues in the changelog... but really couldn't decide which one was the breaking change?

All of our tests seem to pass, but just want to be on the safe side.

[2015-06-02 08:41] AdriVanHoudt commented on #90
good question :D

[2015-06-02 15:56] nlf commented on #80
labeled this as a breaking change due to the returned objects being a plain object now

[2015-06-02 15:57] nlf commented on #90
see https://github.com/hapijs/qs/issues/80

[2015-06-05 11:14] seishun opened #94 "Inadequate encoding of Buffers"
Let's say I want to send some percent-encoded binary data.

[code]

So far so good.

[code]

What? I expected `'%FF%FF'`!

The problem is that it simply [calls `toString` on the Buffer](https://github.com/hapijs/qs/blob/0c6f2a6318c94f6226d3cf7fe36094e9685042b6/lib/stringify.js#L34), which attempts to decode it as UTF-8. It doesn't make sense, since it is then [encoded](https://github.com/hapijs/qs

[2015-06-05 16:15] nlf commented on #94
I'm not sure I totally understand what end result you're trying to achieve. This module is for parsing HTTP querystring parameters, are you sending binary data in an HTTP request?

[2015-06-05 16:26] seishun commented on #94
Yes.

[2015-06-05 16:31] nlf commented on #94
as a query parameter? that seems like bad design to me. i can look into making buffer decoding configurable, but i'm not entirely sure it'll work like you want it to anyway. `0xff` would still be interpreted as a character, and would be URI encoded as such to be sure that it can be transmitted as a query parameter. Even stringifying the buffer as binary still yields a different result:

[code]

[2015-06-05 16:59] seishun commented on #94
Yes, in the POST body.

Query parameters are transmitted as percent-encoded byte sequences, so strings have to be encoded in UTF-8. There is no need to do any encoding for Buffers, since they are already byte sequences - they just have to be percent-encoded.

Sure, you're giving `encodeURIComponent` a string consisting of a single character with value 255, which is "ÿ". Since the character "ÿ" is

[2015-06-05 17:04] nlf commented on #94
this would also require changes to parsing to be able to reconstruct a buffer from a byte sequence. i'm still not sure i understand why your POST body is being parsed by this module, or why you're transmitting binary data directly without encoding. your problem would be solved, for example, if you were to base64 encode your binary before sending it.

[2015-06-05 17:22] seishun commented on #94
Why, for symmetry? I suppose you could just return a decoded Buffer [here](https://github.com/hapijs/qs/blob/0c6f2a6318c94f6226d3cf7fe36094e9685042b6/lib/utils.js#L80). Something like this should work:

[code]

Although it uses the deprecated 'binary' encoding. There are probably better ways.

It wouldn't, because the server doesn't accept base64 encoded data.

[2015-06-05 18:07] nlf commented on #94
yes, for symmetry. i'll have to think about how best to implement this.

[2015-06-10 05:59] ygt-mikekchar opened #95 "arrayLimit is surprising behaviour"
OK.  It's my fault for not reading the documentation closely enough :-)  I just find that having results put in either an array or an object depending on the number of items they contain is incredibly surprising.  Is this a feature that anybody uses?

When I receive the parameters there seems to be no easy way for me to know if the request had more than arrayLimit values.  The only sensible option

[2015-06-17 14:29] nfroidure commented on #95
:+1: took us a while to understand what was going on, couldn't guess such feature would have been added.

Looks pretty wieird, is it for security reasons or something?

[2015-06-17 14:34] AdriVanHoudt commented on #95
not sure what exactly but its security related, @nlf probably knows more

[2015-06-17 14:35] nfroidure commented on #95
related https://github.com/hapijs/qs/issues/18 . Can't figure out wich security issue it covers.

[2015-06-17 14:37] AdriVanHoudt commented on #95
`The depth limit helps mitigate abuse when qs is used to parse user input, and it is recommended to keep it a reasonably small number.` pretty vague I know :P

[2015-06-17 14:38] nfroidure commented on #95
PS: if it really is security related, i assume that throwing an exception is a better behavior than silently change things into something else. I prefer send a 4XX error with good reasons than changing API customers expectations.

[2015-06-17 14:41] AdriVanHoudt commented on #95
depends, the docs state it so you can handle to it and in that case it is not a security issue

[2015-06-17 14:45] nfroidure commented on #95
Yep but it adds extra work, by example, if i expect answers to be an Array, i'll have to check if answers really is an array an than throw an exception. If i have recurrent data structures, i can really become tricky.

On the other hand, why would i get datas whith a different structure than the one the client sent/i need?

Definitely better to throw an exception imo.

[2015-06-17 15:17] nfroidure commented on #95
Here is a PR in case you feel ok with that statement https://github.com/hapijs/qs/pull/96 . Will need a major version bump though.

[2015-06-17 15:21] nfroidure commented on #95
Just about the security issue, i think it probably is due to the fact that, array size is limited and a too big size would cause an exception to be thrown:
[code]

You also could get a maximum call stack size using nested forEach/map/filter array methods.

[2015-06-17 16:51] nlf commented on #95
That is, in fact, the security issue. The parsing being changed rather than throwing an error is because this isn't always a fail condition, some people are aware of the security concern and accept the fact that they may have to read an object rather than an array to mitigate it. Throwing an error is a bit harsh for most situations.

[2015-06-26 17:00] #95 closed

[2015-07-01 05:43] hueniverse commented on #80
It looks like for hapi, this is not a breaking change, correct? The hapi API is meant to deliver an object and there is no contract for any prototype methods on that object. I am inclined to upgrade hapi (and subtext) to 3.x.x without a major hapi version.

[2015-07-01 06:17] hueniverse commented on #80
This might not have been the right solution. So now these objects fail in places where the result is being treated as an object with a default prototype. I think a better approach would be to add a prefix to the keys instead when overlapping with prototype methods and have some logic if the prefixed version is also present (e.g. some kind of escaping).

[2015-07-01 11:47] dougwilson commented on #80
I still think it should work like JSON.parse, which uses the default prototype and doesn't have any overriding issue. I tried to update body-parser to 3.x but encountered lots of user push back. Same for Express req.query.

[2015-07-01 16:28] nlf commented on #80
JSON.parse does have overriding issues

[code]

Prefixing keys that would overwrite properties from the prototype would work, but then it's kind of awkward to access them since the consumer would have to be aware that they'll be prefixed

[2015-07-01 16:34] dougwilson commented on #80
This issue I opened is not about overriding issues; it is about dropping properties.

[2015-07-01 16:36] nlf commented on #80
Right, but one of the main concerns of this module was to resolve the security concerns present in the original, one of which being that it's possible to override object prototype properties. I can't sacrifice one to allow the other, so we need to figure out some way to accommodate both.

[2015-07-01 16:37] dougwilson commented on #80
Regardless, I am indifferent about the module's direction :) I need W3C parsing compliance and with the closure of #63 I will simply be moving to a different module rather than 3.0 (especially with some massive Express community blow back when I tried to update this module to 3.0 because of the null prototype issue).

[2015-07-01 16:39] nlf commented on #80
Yeah, given all the bike shedding and random issues, I'm very seriously considering dropping all the extraneous crap and going back to #63 instead. This module has become a bit of a nightmare to maintain.

[2015-07-03 20:22] wavded opened #99 "Changelog update?"
Curious what was breaking in 4.0.0

Thanks much!

[2015-07-03 21:01] hueniverse commented on #99
How about look at the 4.0.0 milestone. Can't be too hard.

[2015-07-03 21:01] #99 closed

[2015-07-03 23:06] wavded commented on #99
@hueniverse your comment comes off condescending, if that wasn't the intent, i apologize.  After checking the commits, the changelog and the releases pages I didn't think to look at the milestones.  If that's how you should get up to speed on changes, perhaps removing the changelog and pointing people to the milestones in the readme instead?

[2015-07-07 03:26] travist commented on #91
This is actually a problem I am facing using the very popular https://github.com/request/request library. What I am running into is that my REST api is outputting booleans as ```true``` and ```false```. However, when a PUT request is made, this library uses this library to convert it to a querystring, which this then turns all of my booleans into strings breaking the app. I am curious why this lib

[2015-07-09 16:16] jdiaz5513 commented on #91
Part of me wants this too, but automatic type coersion here is troublesome. What if you wanted `"true"` as a string? Or `"21.33"` as a string? I often deal with currency amounts formatted as strings to avoid floating point precision loss.

In particular if you're allowing user input to show up in the query string, all someone has to do is type in `true` where you were expecting a string and good l

[2015-07-09 17:24] travist commented on #91
Thanks for the information. I am no longer blocked by this, so I think I can get by without this change. I was actually able to get around this using https://github.com/visionmedia/superagent instead of https://github.com/request/request (which uses querystring for posts). I can only assume that ```superagent``` does not use query string method for posting information, but I have not dug deep enou

[2015-07-20 20:24] naugtur opened #102 "v4.0 missing from changelog"
Why the version bump if nothing noteworthy changed? Or is it just missing?

[2015-07-20 20:32] naugtur commented on #102
And while we're at it - if I update 2.4.2 to 4.0 in `ampersand-sync` will it break things? IE9?

[2015-07-20 20:35] AdriVanHoudt commented on #102
https://github.com/hapijs/qs/pull/98
Look for these (https://github.com/hapijs/qs/issues?q=label%3A%22breaking+changes%22+is%3Aclosed) in hapi repos ;)

[2015-07-20 20:37] naugtur commented on #102
good tip. thx (changelog still missing, leaving open)

[2015-07-20 20:56] AdriVanHoudt commented on #102
I think https://github.com/hapijs/qs/pull/98/files#diff-04c6e90faac2675aa89e2176d2eec7d8 pretty much covers it, qs does not allow to use object prototype names as queryparams by default now (as far as I can deduct) @nlf can clarify maybe

[2015-07-20 20:59] naugtur commented on #102
That's what I see in the discussions as well. updating from 2.x to 4.0 seems safe unless you were doing weird things already.

[2015-07-20 21:01] AdriVanHoudt commented on #102
jup, unless you allowed stuff like `hasownproperty` as a querystring you should be fine I think

[2015-07-21 13:55] tmoitie opened #103 "Keyless array of object parse"
Parsing a query string like this: `tags[][name]=Red&tags[][id]=1&tags[][name]=Blue&tags[][id]=2`

Returns `{ tags: [ { name: ['Red', 'Blue'], id: [1, 2] } ] }`

When I was expecting `{tags: [{name: 'Red', id: 1}, {name: 'Blue', id: 2}]}`, which is the object that was passed through `qs.stringify(…, { arrayFormat: 'brackets' })`

[2015-07-21 16:47] nlf commented on #103
by passing `'brackets'` as your arrayFormat, you're telling qs to be more ambiguous with how your object is stringified, which is why you get a result you don't expect. the default behavior of stringify is to include array indices, which would yield a string like

`tags[0][name]=Red&tags[0][id]=1&tags[1][name]=Blue&tags[1][id]=2`

which you'll find parses exactly how you want it to. without the ar

[2015-07-21 16:47] #103 closed

[2015-07-24 18:17] yanickrochon opened #104 "Inconsistent parsing with nested objects and arrays"
I have been [debugging this for a little too long](https://github.com/cojs/co-body/issues/24), and I am now here :)

The query string

[code]
(URL decoded to `key1[0][key2][0][key3][0][key3a]=foo&key1[0][key2][0][key3][0][key3b]=bar&key1[0][key2][0][key3][0][key3c]=buz`)

Should be parsed as

[code]

but is actually parsed as

[code]

[2015-07-24 18:25] yanickrochon commented on #104
Just say the "depth" option, that `co-body` does not use. All good here :)

[2015-07-24 18:25] #104 closed

[2015-07-24 20:58] alex94puchades opened #105 "Mixed object types and JSON-API"
If I understand correctly, qs will parse a query string like "foo=123" as "{ foo: 123 }", and "foo[first]=123&foo[second]=456" as "{ foo: { first: 123, second: 456 }}". But, what happens with mixed types seems a little weird:

[code]
[code]
The first example seems the most correct to me. This can seem like a rare use case, but the JSON-API standard makes [heavy use](http://jsonapi.org/format/#fetc

[2015-07-30 16:14] #102 closed

[2015-07-30 16:14] nlf commented on #105
that is strange.. i'll check it out

[2015-08-07 16:00] yanickrochon opened #107 "Array parsed as Object"
Here are two tests :

[code]

[code]

... why?

[2015-08-07 16:01] yanickrochon commented on #107
Nevermind, I just saw the `arrayLimit` option.

[2015-08-11 11:53] nharraud opened #108 "bower package name already taken"
Hi,

I have been trying to install this package using bower and just realised that the name "qs" is pointing to another repository:
http://bower.io/search/?q=qs
https://github.com/nire0510/qs

As this repository (hapijs/qs) contains a bower.json with "qs" as name, I supposed that it was published on bower.

[2015-08-11 11:57] nharraud commented on #108
Also the version in the bower.json is 3.0 instead of 4.0

[2015-08-12 11:37] Vayvala opened #110 "Decode Angular 1.4 $httpParamSerializer querystring?"
Here is my object, that I want to serialize:

    {"cars": [
       {"make":"volkswagen","model":"golf"},
       {"make":"volkswagen","model":"polo"},
       {"make":"audi","model":"a3"},
       {"make":"bmw","model":"1-series"},
       {"make":"renault","model":"espace"}
    ]}

Before, I used jQuery `$.param()` function and `qs` library to decode it on node.js (through `body-parser`). And everyt

[2015-08-16 08:09] hueniverse commented on #47
So... this is not marked with a release, is actually a breaking change (see https://github.com/hapijs/hapi/issues/2718) and the comment above is referencing back this issue.

This is a pretty big change. I am not sure what to do about this now as it is breaking code for hapi users.

[2015-08-17 16:33] fabriziomoscon opened #111 "fix Travis for node v0.10"
to run tests on node v0.10 the version needs to be added to `.travis.yml` with double quotes like so:

[code]

for example:
https://github.com/mixpanel/mixpanel-node/blob/master/.travis.yml

[2015-08-19 07:30] #110 closed

[2015-08-24 19:05] #111 closed

[2015-08-25 08:25] tusharmath opened #112 "support for comma for stringifying arrays"
Can we have something like —

[code]

Does it make sense?

[2015-08-25 20:27] hueniverse commented on #112
Seems complicated for no reason. You can already express this structure and it isn't that much more verbose.

[2015-08-25 20:32] tusharmath commented on #112
complexity lies when you have multiple params that are needed to be serialized this way.

[2015-08-25 20:48] hueniverse commented on #112
This module should add no new features ever. It is already insanely complex.

[2015-08-25 21:06] Marsup commented on #112
If you have complex cases, most of the times you're better covered by using POST with a sane JSON serialization.

[2015-08-25 21:17] nlf commented on #112
yeah i'm gonna pass on this, sorry.

this module is actually going to become much much simpler soon.

[2015-08-25 21:17] #112 closed

[2015-08-27 02:40] dchusovitin opened #113 "Parsing dots inside brackets"
This bug introduced on 6ee5df78 commit

[code]

[2015-08-27 17:10] hueniverse commented on #113
We need to revert this change (go back to the previous default). It will be a major release.

[2015-08-27 17:34] nlf commented on #113
will be publishing a new major release with allowDots defaulted to false shortly

[2015-08-27 17:35] nlf opened #114 "default allowDots to false"
this change has caused way too many issues, making it opt-in

[2015-08-27 17:38] #114 closed

[2015-08-27 17:39] nlf commented on #113
closed via 31d0f0374ebfdc38d8ac74ef102b10cbbfdc4122

[2015-08-27 17:39] #113 closed

[2015-09-09 06:26] hueniverse opened #115 "package.json file format not hapi standard"

[2015-09-09 16:03] #115 closed

[2015-09-10 09:10] vvo opened #116 "Why always encode the stringified version?"
Hi, great library.

I do not understand why the default when stringifying is to always encode the URI.

I feel the decision to encode the URI should be left to the user. ALready providing a good deserialization/serialization mechanism is great but then why encodeURIComponent by default?

Encoded URIs are not always what you want and most of the time you do not need to encode them.

When using `.pu

[2015-09-11 16:35] pho3nixf1re commented on #116
To maintain backwards compatibility it would be nice to leave it encoded by default but have an option to disable it when not needed. Most of the use cases I've came across don't need the encoding. It feels weird having to always wrap this library's output in an `unecode` call.

[2015-09-11 16:48] vvo commented on #116
Ah! Great that we are not alone feeling this. Yes for backward compat we need to stay encoded by default and provide a way to not get the encoded form also.

@nlf @hueniverse Would you accept a PR providing a new API way to do so (stringify without encoding)?

[2015-09-11 16:51] nlf commented on #116
working on it

[2015-09-11 17:05] nlf opened #117 "make URI encoding stringified results optional"

[2015-09-11 17:06] #117 closed

[2015-09-11 17:06] nlf commented on #116
closed via 282980a

[2015-09-11 17:06] #116 closed

[2015-09-11 17:25] nlf commented on #108
the version is synced, but you're right the name is already taken. at this point, frankly,  i'm torn between renaming it in bower and just dropping support for bower.

[2015-09-11 17:27] vvo commented on #116
![2015-09-11-192458_250x69_scrot](https://cloud.githubusercontent.com/assets/123822/9821476/d4a9c7d8-58ba-11e5-8cd1-25189a8626c5.png)

![2015-09-11-192505_292x138_scrot](https://cloud.githubusercontent.com/assets/123822/9821478/d606075e-58ba-11e5-860c-87f4642487c4.png)

![6iamwrpf0lmme](https://cloud.githubusercontent.com/assets/123822/9821512/02e5153a-58bb-11e5-9f0a-6d27aa081541.gif)

[2015-09-11 19:41] pho3nixf1re commented on #116
Wow! That was... fast. :smile_cat:

[2015-09-14 07:15] nharraud commented on #108
It's quite frequent that packages have different names for github, bower and npm so renaming wouldn't be too bad. I often just read the github README to see how it is named, or follow the links when I find it on npm/bower.

[2015-09-17 19:08] checat commented on #108
hapijs-qs is a good name

[2015-09-26 09:28] ikr opened #119 "Shouldn't `stringify` have an option for the `foo.bar.baz=x` format?"
As `parse` has the `allowDots` option accepting that notation. Would you accept a pull request implementing that functionality?

[2015-09-30 09:09] bobylito commented on #64
I need this, and I am to work on that today, if you don't mind.

[2015-10-03 12:22] nik-kor commented on #116
Hi! When will this feature be released, so it will be possible to install it with special version?

[2015-10-03 13:14] vvo commented on #116
It was released. Good to know you also needed it

[2015-10-03 13:31] nik-kor commented on #116
oh, i got it! https://github.com/hapijs/qs/commit/27ac28f75bc95c6a85552ad709b52ee2cdfb1209 was made after 5.1.0 tag

[2015-10-07 17:34] #64 closed

[2015-10-12 07:55] Rabbit0306 opened #121 "Qs.parse() has the bug?"
Here I use the example in MD.

[code]

But I get the result such as:

[code]
Is any thing wrong?

[2015-10-12 16:31] nlf commented on #121
Nothing is wrong. If you're expecting a nested property, you also need to enable the `allowDots` option in your call to parse. That will result in an object like:

[code]

[2015-10-12 16:34] nlf commented on #119
I would accept a pull request to add dot formatting to stringify, sure.

[2015-10-14 05:31] Rabbit0306 commented on #121
Get it! Thank you for your answer!

[2015-10-14 05:31] #121 closed

[2015-10-19 18:09] MadManMathew opened #122 "qs.parse (with alowDots ) provided with the same key object and strings gives varying results"
When using qs to parse our url for advanced queries I came across an issue where we get varying/expected or desired results when we provide the same parent key one as string and the other intended to be an object. The example will clear things up.
[code]
which is as expected, however if we reverse the order
[code]
order shouldn't matter. Once again
[code]
### Solution
 keep the results consistent

[2015-10-22 16:24] viniciusgava commented on #108
Please, add in README.md the bower package.

[2015-10-27 15:38] blowsie commented on #108
Is there a standalone single JS file that can be used instead of a bower package?

[2015-10-27 16:11] arb commented on #108
I vote for dropping bower support, especially with a major release coming soon.

[2015-10-27 16:35] AdriVanHoudt commented on #108
same, bower is DOA

[2015-10-27 16:46] nlf commented on #108
i think that's exactly what's going to happen. qs@6.0.0 will remove support for everything but npm.

[2015-11-02 17:31] hueniverse opened #124 "ES6 style changes and node v4"
The hapi world is moving to only support node >= 4.0. This module is part of that world. I want to make sure the express community is aware of it as they are a significant user of this module. Also, this will affect use in the browser in pre-ES6 versions.

@dougwilson

[2015-11-02 17:58] dougwilson commented on #124
Hi @hueniverse , that sounds fine to me. We have no timeline to drop 0.10, unfortunately, and so we'll likely just fork this module for our ecosystems, if it becomes necessary. Likely, we'll sit on an old version unless there is some security issue :)

[2015-11-03 02:37] hueniverse commented on #124
If there are security issues we'll publish a 5.x patch since hapi 9.x will need it too.

[2015-11-03 03:01] #124 closed

[2015-11-03 03:03] dougwilson commented on #124
Even better :) Don't let us hold ya back ;)

[2015-11-03 11:56] bmtechlab opened #126 "SyntaxError: Use of const in strict mode."
After [ed1696](https://github.com/hapijs/qs/commit/ed169696b6cebacf8e7f7c6b4ba8eeb5f2cb2694)  commit I have an error:
[code]

I use node v0.10.40.

[2015-11-03 12:04] Marsup commented on #126
Use a qs version compatible with your node version.

[2015-11-03 12:04] #126 closed

[2015-11-03 12:08] Marsup commented on #126
FYI 5.2.0 was the latest one compatible with the node 0.x serie.

[2015-11-03 14:05] AndrejGajdos opened #128 "Different main in package.json and bower.json"
Hi, I use webpack and [history library](https://github.com/rackt/history) which has this project as a node module dependency. When I want to build the project I get error:

`Module not found: Error: Cannot resolve 'file' or 'directory' ./dist/qs.js in /Users/and/p/node_modules/history/node_modules/qs`

In package.json of this project is main file lib/index.js, but in bower.json dist/qs.js and when

[2015-11-03 15:30] nlf opened #129 "remove bower and component support"

[2015-11-03 16:08] nlf commented on #128
yeah.. the whole bower/component support thing has been kind of a pain. i'm going to remove those configs entirely, as well as the dist directory.

[2015-11-03 17:08] BHare1985 opened #130 "Use of const in strict mode"
const Stringify = require('./stringify');
^^^^^
SyntaxError: Use of const in strict mode.
    at exports.runInThisContext (vm.js:73:16)
    at Module._compile (module.js:443:25)
    at Object.Module._extensions..js (module.js:478:10)
    at Module.load (module.js:355:32)
    at Function.Module._load (module.js:310:12)
    at Module.require (module.js:365:17)
    at require (module.js:384:17)
    a

[2015-11-03 17:09] nlf commented on #130
use node 4.0 or greater. the new major version of qs requires it.

[2015-11-03 17:09] #130 closed

[2015-11-03 17:09] hueniverse commented on #130
That's because you are using package.json incorrectly. You need to only get versions you tested with, not just the latest. Learn how semver works!

[2015-11-03 17:10] BHare1985 commented on #130
I hard coded the express I want, express however used the latest qs. So the issue was out of my hands, FYI.

[2015-11-03 17:12] hueniverse commented on #130
@dougwilson ^^^

[2015-11-03 18:25] dougwilson commented on #130
The stack trace shows some old version of `express` 3.x, well out of support. I can look if I'm told what version, but I wouldn't be surprised if it's from years ago. We have only used locked dependencies for a long time.

[2015-11-03 18:27] dougwilson commented on #130
Nvm, it says "2.4.3" in the post. There is nothing we can do; 2.4.3 came out in summer 2011. Only solution I can say is upgrade to a supported version of Express or use shrinkwap (or check in your `node_modules` folder to source control).

[2015-11-04 01:02] bryce-gibson commented on #130
@BHare1985 I believe you might be able to add the qs version you want to your package.json, and then npm will only install the qs version you requested (as the express dependency will be satisfied by the version specified in package.json). (eg adding `"qs": "5.2.0"` to package.json ; then doing a clean npm install)

[2015-11-04 02:01] BHare1985 commented on #130
Yes I ended up doing what bryce suggested and it works. I  had plans to update express from 2.4.3 but figured why fix something not broken, I guess this gives me more motivation.

[2015-11-04 18:16] edshee opened #131 "Error on require "Use of const in strict mode""
My app is throwing an error when trying to execute the line:
[code]

Here is the error:

[code]

[2015-11-04 18:16] nlf commented on #131
the latest release of qs requires node 4.0.0 or greater. update your node and this error will go away.

[2015-11-04 18:16] #131 closed

[2015-11-04 18:22] edshee commented on #131
Just figured this out myself and came here to close the issue only to see you'd already done it. Thanks

[2015-11-05 15:39] jscheid opened #132 "package.json main file is es6"
Hi,

I have my `node_modules` excluded from babelfication, mostly for performance reasons. This works well with dozens of other packages because pretty much every package on npmjs exposes es5 (or lower) in their distribution. But qs 6.0.0 says `lib/index.js` is the main file, which is es6. I've worked around it by doing

    import qs from "qs/dist/qs";

But in #128 you say that you're going to re

[2015-11-05 15:42] Marsup commented on #132
Can't you just fix your regexp ?

[2015-11-05 15:48] jscheid commented on #132
If you mean the babel-loader inclusion patterns, I could make an exception just for qs... but it would be the only package out of 78 that needs it, so I don't know if "fix" is the right word.

[2015-11-05 15:54] Marsup commented on #132
Get used to it, node is evolving to ES6, qs won't be alone very long.

[2015-11-05 15:54] jscheid commented on #132
Okay, thanks.

[2015-11-05 15:54] #132 closed

[2015-11-05 15:56] Marsup commented on #132
@nlf feel free to intervene if you don't agree ;)

[2015-11-05 17:07] arb commented on #132
You can keep your noParse option, and try the resolve-alias webpack option to redirect `require('qs')` to `require('qs/dist/qs')`

[2015-11-05 17:08] nlf commented on #132
that's irrelevant when dist goes away :)

[2015-11-06 23:55] tjconcept commented on #131
What is the recommendation for people using this module in browsers (e.g. via Browserify)? Even the latest Safari does not support `const` in strict mode.

[2015-11-06 23:56] nlf commented on #131
use babel or something similar to transpile

[2015-11-07 00:03] tjconcept commented on #131
Thanks. I'll stay on 5.x for now and add a transpiler if more modules follow suit.

[2015-11-07 18:27] Industrial opened #133 "Use of const in strict mode"
Hi.

It seems this module was recently updated to use the `const` keyword. I'm not sure why.

Why not compile to ES5 with Babel.js first and then export the ES5 so it works anywhere?

The error I'm getting:
[code]

[2015-11-07 18:29] nlf commented on #133
because the primary usage of this module is inside hapi, which supports only node 4 or greater. this module has changed to follow suit. if you need an es5 compatible version, either stick to the 5.x releases or transpile it in your project.

[2015-11-07 18:29] #133 closed

[2015-11-07 18:47] thecotne opened #134 "changelog is outdated"

[2015-11-09 00:40] raistlinthewiz opened #135 "Use of const in strict mode. - node 5.0.0"
I know that these previous reports exists: https://github.com/hapijs/qs/issues?utf8=%E2%9C%93&q=Use+of+const+in+strict+mode.

I'm using node 5.0.0 and still getting the error

[code]

[2015-11-09 00:41] #135 closed

[2015-11-09 07:34] Marsup commented on #135
Solved itself ?

[2015-11-09 09:12] raistlinthewiz commented on #135
Nah, i was getting the issue on a circleci build system which uses 0.10 series node. Seems i need to replace qs.

[2015-11-09 18:48] fatfisz opened #136 "Tests use .eslintrc files defined outside the project"
I've run `npm test` and found out that there are a lot of errors. After looking around for a bit I've found the culprit - the `.eslintrc` file defined in the root directory. After changing its name to something else so that ESLint ignores my global rules, tests completed without issues.

Shouldn't there be an `.eslintrc` file in the root of the project so that stuff like this won't happen?

[2015-11-09 19:09] nlf commented on #136
the config that's used here is provided by lab, so we don't bother including it in the root of the project. i'm not sure i follow how it is that your eslint config took over from that one, however, as i'm pretty sure lab is designed to use its built in config whenever there isn't an `.eslintrc` in the root of the project.

[2015-11-09 19:11] fatfisz commented on #136
Well, I'm not sure what is happening either :/

But the fact is - tests don't work when there is `.eslintrc` in my root dir, and they do work when there is no such file.

[2015-11-09 19:12] nlf commented on #136
what do you mean by root dir? like literally at `/.eslintrc`?

[2015-11-09 19:13] gergoerdosi commented on #136
In which directory do you execute tests? And what is the command you use?

[2015-11-09 19:16] fatfisz commented on #136
I'm in the project directory, where I fire `npm test`.

Placing my `.eslintrc` in the project's parent dir, parent's parent dir, and so on (including the root dir - I'm on Windows, so it's more like `D:\.eslintrc`), causes some linting errors.

[2015-11-10 05:31] nathanboktae commented on #129
Do you still intend on supporting browser usage?

[2015-11-10 06:49] hueniverse commented on #129
I've opted to build an ES5 version in nes and hawk. I'm conflicted about this but it seems like an easy enough thing to do for now as we figure out this transition period.

[2015-11-10 08:47] nathanboktae commented on #129
OK, any particular motivation? the browserfied distro is 14k, a pleasant browser consumable module. ES3 browsers are dead, so no need to worry about them.

[2015-11-10 13:56] wayneashleyberry commented on #131
Just got hit by this issue as well... but Browserify's global transforms don't seem to do anything here :(

[2015-11-12 16:30] Max-Kolodezniy opened #138 "'use strict' and const keywork in the same file"
I'm using node.js twitter-node-client module which uses qs (https://www.npmjs.com/package/qs)

Now I'm getting errors for any of my app calls with error mesage provided below

[SyntaxError: /usr/local/lib/node_modules/socialedge-twitter/node_modules/twitter-node-client/node_modules/qs/lib/index.js:5
const Stringify = require('./stringify');
^^^^^
Use of const in strict mode.]

As I know const (the

[2015-11-12 17:18] Max-Kolodezniy commented on #138
Sorry boring you, I had very old node version installed.

[2015-11-12 17:18] #138 closed

[2015-11-15 23:16] sompylasar opened #139 "Should export ES5-compatible for npm, otherwise babel transform is required externally"
The ES2015-rewritten 6.0.0 has issues when using via webpack. Usually, babel transform is only applied to the app code, and the `node_modules` directory is excluded entirely. This does not work with 6.0.0 compared to ES5-compatible 5.2.0 -- webpack bundles the ES2015 code of the `node_modules/qs` right into the output, which then breaks the uglify step.

Please provide ES5-compatible build without

[2015-11-16 00:58] hueniverse commented on #139
Just use the previous version for now. They are the same.

[2015-11-16 01:00] sompylasar commented on #139
@hueniverse yes, I do this for now.

[2015-11-16 22:21] bdefore commented on #139
i ran into this issue while updating my dependencies and saw the latest was 6.0.0 ... unfortunately this caused me to see the error `SyntaxError: let is a reserved identifier` and it was due to the issue @sompylasar describes. this should probably not be published in npm right now.

[2015-11-16 22:58] hueniverse commented on #139
I suggest you learn how semver works and don't upgrade to a new major version without understanding what broke.

[2015-11-16 23:31] bdefore commented on #139
@hueniverse i am aware of how semver works, thank you. thought you might want to know that there's more than one person that would like to use `qs` latest with other their other ES5 transpiled libraries.

[2015-11-17 00:11] arb commented on #139
You can also add the path to qs in your array of included files for the babel transformer. Then you could exclude all of the other node_modules, but include qs.

[2015-11-19 01:34] zerkms commented on #139
@arb

how would one do that actually? If `node_modules` is excluded using `exclude` parameter - you cannot include anything from it.

[2015-11-19 14:38] arb commented on #139
When you are setting up the loader, if you are excluding "node_modules", there is also an `include` option where you can pass an array of values. Add the path to QS into that array. (This is just speculating as I haven't done this, but I think that should work.)

[code]

Something along those lines. You'll have to play around with the include paths but that is the general gist of it.

[2015-11-19 19:20] sompylasar commented on #139
There are certainly workarounds but this does not actually resolve the
issue.

[2015-11-19 19:22] nlf commented on #139
There is no way to resolve this because there is no issue. This module is ES6 now. If you need ES5, either use an older version or configure your transpiler to deal with it for you.

[2015-11-19 19:22] #139 closed

[2015-11-19 19:23] nlf commented on #134
the changelog file has been removed, look at milestones for this information

[2015-11-19 19:23] #134 closed

[2015-11-19 19:27] nlf commented on #136
throwing this upstream to lab https://github.com/hapijs/lab/issues/488

[2015-11-19 19:27] #136 closed

[2015-11-19 19:34] sompylasar commented on #139
https://github.com/nodejs/help/issues/8

[2015-11-19 19:39] sompylasar commented on #139
http://jonnyreeves.co.uk/2015/babel-npm/

[2015-11-19 19:42] nlf commented on #139
I'm aware of the many methods available for maintaining an ES5 version of this module. I have no interest in doing so. If you really want an ES5 version, build and publish one. I'm happy to link to it from here.

[2015-11-19 19:44] sompylasar commented on #139
I see. Good luck then.

[2015-11-19 20:56] nlf opened #140 "the future of qs"
This module has become overly complex and difficult/annoying to maintain. I have no desire to continue maintaining it in its current state. As such, I have two thoughts that I'd like to get some feedback on.

* Rewrite the module

By this I mean a total rewrite, likely removing the majority of features, and following the JSON web forms spec. Some tweaks to the spec will be made for security purpos

[2015-11-19 21:10] dougwilson commented on #140
So if something like pillarjs/jshttp were to take over the module, it would be re-written to be JSON web form spec matching anyway, so if there is intention to keep the module as-is with it's strange quirks and stuff, it would probably be best if some other organization/person wanted to take over :)

[2015-11-19 21:19] hueniverse commented on #140
I am dropping it as a built-in option in hapi. You will still be able to BYO query parser. I never used this module so don't care about how it evolves. I do know it has been a pain in the ass to keep track of, and the every other week someone shows up with another idiotic request specific to their use case. Because we allowed a few of those in, it is impossible at this point to say no without piss

[2015-11-19 21:21] zerkms commented on #139
@arb that was my exact point: if a path is in `exclude` - there is no way to make it loaded. That's what `exclude` is for - to exclude.

[2015-11-19 21:53] nmai commented on #140
I'd like to help, but frankly I don't have any experience maintaining anything past (very) small-scale projects.

If no one else volunteers and you're fine with me taking over, let me know. If not, just shut it down and move on.

[2015-11-19 22:40] Marsup commented on #139
Come on, it's a regex, It's not that hard to exclude `/node_modules\/(?!qs)/`...

I stand with @nlf, it's your problem if you want to take it into an ES5-only environment, this module explicitly says it uses node 4+ and YOU have ways to deal with it.

[2015-11-20 02:57] nickux commented on #140
I use this module in a few projects, but would be in favor of transferring it or EOL'ing it when a simplified replacement is ready. Happy to help with that if needed.

[2015-11-20 04:02] HenrikJoreteg commented on #140
Not that anyone asked, but I've switched to https://www.npmjs.com/package/query-string for its light weight (I use it client side too) and that I don't ever need nesting. Do we need a new simplified replacement? Maybe just calling qs "done" and leaving it for those who want to keep using it is an option?

[2015-11-22 17:57] LinusU commented on #140
With the release of `1.0` of [multer](https://github.com/expressjs/multer) (an `multipart/post-data` parsing middleware for express) we switched to be W3C JSON forms compatible. The logic is contained in a separate module called [append-field](https://github.com/LinusU/node-append-field) which is an implementation of the algorithm described in the spec, with tests to see that it works as well.

If

[2015-11-26 17:04] JosephShering opened #141 "Using let keyword in your source code is breaking firefox"

[2015-11-26 17:06] AdriVanHoudt commented on #141
either use a previous version or compile it with something like Babel

[2015-11-26 17:23] #141 closed

[2015-11-27 15:51] taion commented on #124
This is fairly unfriendly to people using this library v. e.g. browserify or webpack.

Have you considered still including a transpiled build in the npm package, then pointing the `"browser"` key in `package.json` to that?

[2015-11-27 16:12] Marsup commented on #124
This is fairly unfriendly to force maintainers to also maintain builds while you can make it yourself.

[2015-11-27 16:27] taion commented on #124
Aren't you already maintaining a browser package at `dist/qs.js`? It looks like it hasn't been updated for 6.x yet and is still on 5.2.0, but you're going to have to pull in babelify to produce an updated browser bundle for 6.x that will actually run in browsers.

Either way, the reason this comes up is because in general when producing browser bundles, best practice is to exclude anything from `n

[2015-11-27 16:31] nlf commented on #124
You're right it is silly that we have an outdated browser build, but that's also why I have an open issue to remove that build. If you'd like to see browser support continued here, I'd be happy to hand the module over to you

[2015-11-27 16:35] taion commented on #124
I just saw that issue, sorry.

I have a few more JS packages than I can get around to maintaining at the moment, unfortunately, but I'd be happy to contribute a PR that fixes the browser build if that's something you're interested in.

[2015-11-27 16:36] nlf commented on #124
I'm more inclined to accept a PR removing all the current browser support

[2015-11-27 16:43] taion commented on #124
I see - thanks.

[2015-11-30 22:05] jkrems commented on #140
Just a side note: Calling it "W3C JSON forms" at this point might be misleading. To quote the [W3C website](http://www.w3.org/TR/html-json-forms/):

[2015-11-30 22:08] dougwilson commented on #140
Oh, wow. I think the W3C has got fed up with the endless bikeshadding just like the current `qs` maintainers have.

[2015-12-02 16:24] evantahler commented on #124
Thanks for keeping `v5.x` around, and offering to publish security patches if they come up.  [Actionhero](https://github.com/evantahler/actionhero) just switched to this library as well, and it's great!   That said, we'll still be supporting node v0.10+ for another few months...

[2015-12-02 23:21] mmahalwy opened #142 "qs stringify with array of objects?"
[code]
is stringed to be:
[code]

How come I get object object?

Thanks!

[2015-12-04 04:26] mmahalwy commented on #124
I am having problems with this library breaking my tests cause I don't intend to bundle node_modules...

[2015-12-04 15:16] dantman commented on #139
I'd like to state that in some cases "configure your transpiler to deal with it for you" is actually a ridiculous suggestion.

I'm using browserify, but:
* `qs` hasn't declared something like `"browserify": {"transform": [["babelify", {"presets": ["es2015"]}]]}` so browserify doesn't work out of the box and I can't add this to the `qs` package myself.
* "linking" to a 3rd party published browser b

[2015-12-06 15:51] aaronshaf opened #143 "remove usage of const"
... so that is plays better with browserified/webpack'd builds for non-Chrome browsers.

[2015-12-06 19:29] Marsup commented on #143
Did you at least try to search?

[2015-12-06 19:30] #143 closed

[2015-12-07 08:29] jasonadt opened #144 "UglifyJS Error"
After updating to the latest qs version (6.0.1) I noticed the following error when attempting to bundle my app with WebPack:

[code]

I'm not sure whether this needs to be fixed by qs or by UglifyJS

Thank you very much!
Jason

[2015-12-07 10:35] ahlee2326 commented on #135
Any progress on this? @Marsup

[2015-12-07 12:55] Marsup commented on #135
There's no progress to have, it's usually a developer error.

[2015-12-07 15:13] arb commented on #144
The UglifyJS plugin doesn't understand ES6 features yet is my guess. Make sure you are transpiling QA in your webpack config.

[2015-12-07 15:35] Marsup commented on #144
Or go back to a version that's supported on your environment.

[2015-12-09 12:23] uditalias commented on #144
+1

[2015-12-09 12:40] #144 closed

[2015-12-09 22:38] gsdean commented on #131
@wayneashleyberry Same problem here, back to qs 5 until this gets sorts or browser support is better

[2015-12-15 10:12] SteveALee commented on #139
It seems to me that as this is an official hapi module there should be an official hapi policy in place for module dependencies.

My vote is make it work for the widest possible audience. At least until ES5 is way down the long tail.

[2015-12-15 18:28] hueniverse commented on #140
Given the lack of interest I would recommend we EOL this module. Someone can always fork it and publish something else.

[2015-12-15 18:34] nlf commented on #140
Agreed, I think I'm going to EOL it and move on. I'll leave this issue open and put a notice in the README.

@hueniverse when do you plan on removing it from hapi?

[2015-12-15 18:48] nlf commented on #139
we have a discussion along those lines going [here](https://github.com/hapijs/contrib/issues/67)

[2015-12-15 20:04] hueniverse commented on #140
Probably this week. We have a template for EOL projects in hapi. See https://github.com/hapijs/flod. Also we turn off wiki and issues when we do that.

[2015-12-15 21:13] Marsup commented on #140
How would someone request ownership of the module if issues are closed ? I think it's also good to leave them for historical reasons.

[2015-12-15 22:49] hueniverse commented on #140
I don't mind leaving the issues but I am no longer going to pay any attention to this module. Who is going to keep maintaining this and deal with new issues?

If someone wants to take over this later, I am sure they can figure out who was the last maintainer from npm and contact via email.

[2015-12-21 21:53] ljharb commented on #124
It's very sad to have a module that is published in such a way that it requires transpilation to be used in a browser or older node environment. Why is it difficult to add a babel prepublish step?

[2015-12-21 22:07] devinivy commented on #124
@ljharb feel free to check-out the discussion around this at https://github.com/hapijs/contrib/issues/67

[2015-12-21 22:21] ljharb commented on #124
Thanks, commented https://github.com/hapijs/contrib/issues/67#issuecomment-166439706

[2015-12-22 04:32] hueniverse commented on #124
use version 5. I'm locking this issue

[2015-12-22 06:42] ljharb commented on #140
I'd be happy to take it over, if solely to retain compatibility across browsers and older node versions.

[2015-12-22 22:08] nlf commented on #140
@ljharb it's all yours

[2015-12-22 22:48] ljharb commented on #140
Thanks!

[2015-12-22 22:48] #140 closed

[2015-12-23 23:25] ericclemmons commented on #139
Had the same problem & spent more time researching it than it took to fix it with webpack:

[code]

Happy copy-pasting!

[2015-12-27 23:13] ljharb commented on #140
@nlf would you mind also running `npm owner add ljharb qs`?

[2015-12-28 20:26] nlf commented on #140
done

[2015-12-28 20:28] ljharb commented on #140
<3 thanks!

[2016-01-08 18:45] necolas commented on #139
Well, this module is meant to work in browsers, so forcing every dependent package or app to make a special case for this one untranspiled package is spreading the burden and confusion.

[2016-01-10 11:09] arb commented on #139
I think you could also replace `include: /node_modules\/qs/)` with `include: require.resolve('qs')` as well which would be a little clearer what you're trying to do.

[2016-01-17 20:52] ljharb commented on #128
`dist` directory removed in ece065503ecc86e950d4a25e0e3f9c5d34c2ec72. v7.0.0 will remove bower/component support completely.

Closing this in favor of #129.

[2016-01-17 20:52] #128 closed

[2016-01-17 20:52] ljharb commented on #129
Soon I'll be releasing a v6.x that restores ES5 compatibility. After that, v7.0.0 will remove bower/component support completely. As soon as possible, I will restore ES3 compatibility - not only are those engines not "dead" but it's not actually that difficult to support them, so I'll be doing so.

[2016-01-17 20:53] ljharb commented on #108
Closing in favor of #129 which will remove bower support entirely.

[2016-01-17 20:53] #108 closed

[2016-01-17 20:57] ljharb commented on #142
Can you provide a bit more information? Specifically, what is the value of `activity.tickets[0].source_activity_refid`? When I do `qs.parse('tickets%5B0%5D%5Bquantity%5D=1&start_date=2015-12-02&end_date=2016-06-02&show_not_available_dates=true')` I get:
[code]

which seems correct except for the `pricing_item_gid` field - this implies that its value might be `undefined`?

[2016-01-17 21:12] ljharb commented on #64
Fixed by #120

[2016-01-18 20:08] shawnzhu opened #147 "maintain consistent version number in bower.json"
When installing qs via bower, I got this warning:

[code]

Then I found the version in `bower.json` is still `5.0.2` but the release is `6.0.2`

[2016-01-23 16:56] shawnzhu commented on #147
close since no bower fan here #129

[2016-01-23 16:56] #147 closed

[2016-01-26 21:10] sankethkatta opened #148 "/dist folder missing when using bower"
In `v6.0.0`, there was a `/dist` checked into the repository which worked for both bower and npm installs.

However, now the `/dist` generation has been moved to `prepublish` in `package.json`, this only works for npm. Which breaks any workflows with bower that were depending on the built `qs.js` file being present.

One solution would be to generate `/dist` on one of the [bower hooks](http://bowe

[2016-01-31 17:45] ljharb commented on #148
Per #129, this project will be removing bower support. v6.0 broke it anyways for non-ES6 browsers, and in 2016 it's long past time for folks to be using npm + browserify/webpack to consume JS assets.

I could certainly restore the `dist` directory briefly, prior to releasing v7.0 (no concrete date yet), but I'm not sure I see the benefit.

[2016-01-31 18:18] sankethkatta commented on #148
Fully understand that bower support will be removed and there are much better ways of consuming JS assets. I created this issue up mainly because a minor version increase to `v6.0.2` broke our builds, `^` and the stricter `~` fetch the latest minor version, but thats more a semver / versioning issue.

Maybe just a notice on the README that bower support has been / will be dropped would be nice.

[2016-01-31 18:19] ljharb commented on #148
That's a really fair point, *technically* removing `dist` is a breaking change in a non-major version bump.

I'll revert it for now, and wait to remove `dist` until v7.

[2016-02-01 14:48] tdzienniak opened #149 "Parsed array not being compacted on deeper levels"
This code ilustrates the issue:
[code]
Here is stringified result:
[code]
Runnable code [here](https://tonicdev.com/tdzienniak/qs-sparse-array-bug).

[2016-02-02 09:48] tdzienniak commented on #149
I've made a PR with fix.

[2016-02-03 14:12] snow01 commented on #119
Submitted PR -- https://github.com/ljharb/qs/pull/151

Please help pass it.

[2016-02-03 18:34] ljharb commented on #119
Thanks!

[2016-02-08 13:23] criroselli opened #152 "+ char becomes a blank space"
It's normal this behaviour?
`
var qs = require('qs');
var assert = require('assert');

var obj = qs.parse('a=+c');
assert.deepEqual(obj, { a: ' c' });
`
Why '+c' becomes  ' c' ?
Thanks

[2016-02-08 20:10] ljharb commented on #152
This is indeed normal behavior - most web servers do this. If you want a `+`, you'd need it to be URI-encoded - note the result of `qs.stringify({ a: '+c' })`

[2016-02-08 21:22] criroselli commented on #152
Ok perfect.
Thank you

[2016-02-08 21:22] #152 closed

[2016-02-09 07:43] #149 closed

[2016-02-09 07:45] ljharb commented on #119
Closed by #151.

[2016-02-09 07:45] #119 closed

[2016-02-19 04:05] abarik1981 opened #153 "nested object in array not working"
HI,
Using latest qs@6.0.2 with 5.6.0 node.js

Not getting expected output:

    'things=&things=2&things=3'

[2016-02-19 06:54] abarik1981 commented on #153
Never mind found the problem: I was using `require('querystring')` instead of `require('qs')`

[2016-02-19 07:00] #153 closed

[2016-03-02 12:51] Janekk opened #155 "'skipNulls' option of 'stringify()' method doesn't work"

[2016-03-02 16:29] ljharb commented on #155
@Janekk can you be more specific? Do you have sample input, expected output, and actual output? Which version of `qs` are you using?

[2016-03-03 19:44] Janekk commented on #155
@ljharb version that I use is `6.1.0`

for object like:

[code]

`stringified` will return `attr1=abc&page=`

[2016-03-04 05:59] ljharb commented on #155
@Janekk for me, I get `qs.stringify({attr1: 'abc', page: null}, { skipNulls: true }) === 'attr1=abc'`. Are you sure there's no typo in the option, or the query, or that you in fact are using the latest version of qs?

[2016-03-08 11:27] Janekk commented on #155
@ljharb yeap, you're right. I must have mistyped something.. It works as expected. We can close this issue :)

[2016-03-08 17:43] #155 closed

[2016-04-12 09:50] seriousManual opened #157 "insonsistent behaviour when parsing nested queries"
when nested parameters are specified in an URL (like `foo[bar]=bax`) the querystring module does not consistently parse these nested elements:

[code]

the expected result in the second example would be `{c: {'12': '1'}}`

[2016-04-12 09:58] seriousManual commented on #157
just found a test case that adresses this specific behaviour which shows that is intended behaviour:

[code]

i dont understand the reasoning behind this behaviour.

[2016-04-12 16:05] ljharb commented on #157
See under https://github.com/ljharb/qs#parsing-arrays - "qs will also limit specifying indices in an array to a maximum index of 20", and "This limit can be overridden by passing an arrayLimit option".

[2016-04-12 18:56] seriousManual commented on #157
hi,
thank you for your answer!

i found that paragraph shortly after posting this issue, unfortunately the arrayLimit option does not really help as I'm using 'qs' indirectly via express which does not give me the oportunity to specify the query parsing behaviour.

[2016-04-12 18:57] ljharb commented on #157
In that case I'd recommend filing an issue on `express` to allow that parsing option to be passed through - there's nothing `qs` can do about how `express` chooses to call it :-/

[2016-04-13 05:40] seriousManual commented on #157
is there a reason that actually the index of 20 is the limit for the change in parsing arrays/objects?

[2016-04-13 16:06] ljharb commented on #157
I'm not sure - it was defined before I took over the project. I'm assuming it was arbitrary.

[2016-04-14 13:16] seriousManual commented on #157
all right, thank you!

[2016-04-14 13:16] #157 closed

[2016-04-18 19:08] svincent commented on #152
This issue states that it's a non-issue and tj/node-querystring#106 says it's by design, but I don't quite get why. This behavior seems like an application-level concern.

As far as I can tell the HTML spec and URI/URL-related RFCs don't specify this behavior. The [Wikipedia article on Query String](https://en.wikipedia.org/wiki/Query_string#URL_encoding) notes that "SPACE is encoded as '+' or '%2

[2016-04-19 07:22] ljharb commented on #152
I'd certainly be open to adding a `parse` flag - that seems perfectly reasonable.

[2016-04-19 07:23] svincent commented on #152
In that case I'll take a crack at a PR later this week. Cheers 🙂

[2016-04-26 01:46] aroc opened #158 "Parsing deeply nested arrays parses into object"
When parsing a deeply nested array, the array gets parsed into an object.

Parsing: `qs.parse("[filters][0][property_value][0]=testing"))`
Returns: `filters: { property_value: ['testing'] }`

But, parsing: `qs.parse("[steps][0][filters][0][property_value][0]=testing"))`
Returns: `steps: [{ filters: [{ property_value: { '0': 'testing' } }] }]`

Is this expected? Is there a way I can get the second

[2016-04-26 02:06] aroc commented on #158
Here's another example stringifying with `qs` then immediately parsing, but parsed version produces an object rather than an array:
https://tonicdev.com/aroc/qs-stringify-then-parse-bug

[2016-04-26 07:29] ljharb commented on #158
Without the indexes (which generally i wouldn't expect in an array) I get:
[code]

Where do the zeroes come from?

[2016-04-26 17:56] aroc commented on #158
The zeros come from calling `qs.stringify`. Check out my example code here: https://tonicdev.com/aroc/qs-stringify-then-parse-bug

[2016-04-26 18:15] ljharb commented on #158
Ah, gotcha. Thanks, I'll look into this - I'm not sure whether this is a bug or not, but it's definitely strange.

[2016-04-26 18:17] aroc commented on #158
Cool, thanks! I'll try and dig around the source as well and see if I can identify a potential bug. (Great lib btw, I've used it in several large scale production projects now.)

[2016-04-26 23:54] aroc commented on #158
Ah, figured it out as I tried to debug the issue. Turns out, I just need to bump the `depth` option to `6` from the default of `5`. Argggg. Sorry about this! Closing this issue.

[2016-04-26 23:54] #158 closed

[2016-04-27 00:25] ljharb commented on #158
aha, thanks for clarifying :-) i'm still new to maintaining this project so i need to learn the ins and outs of it better

[2016-04-28 07:44] williamoliveira opened #159 "Date format"
Would it be possible to make Date stringfy format configurable? maybe receiving a callback in the options so one could use momentjs to format it as he wants

[2016-04-28 08:44] ljharb commented on #159
What's the use case for sending a Date as anything other than an ISO string?

[2016-04-28 15:16] williamoliveira commented on #159
To match the format being used in the other side of the API or App, maybe its Unix timestamp or a custom format

[2016-04-28 18:46] ljharb commented on #159
If someone wants to submit a PR, it'd be worth looking at how it impacts the API to support that.

[2016-05-05 19:41] DesignByOnyx commented on #91
The plugin created by @xpepermint worked for me and will likely work for others who need it. I agree with the fact that I don't think `qs` should do this for you and people should opt in to this type coercion if they need it. For example, I have some string fields which are actually going to hold values such as "1456" some of the time. I know that the plugin will convert this to a number, but I al

[2016-05-06 05:07] martinheidegger commented on #94
Note: this is a serious issue when trying to deal with a service that uses encoding other than utf8. Here in japan unfortunately many services still use ShiftJIS.

[2016-05-09 00:19] martinheidegger commented on #94
@nlf This issue should be solved by #161 in 6.2.0

[2016-05-10 04:41] martinheidegger opened #163 "RFC 3986 not correctly implemented"
`stringify` is [supposed to be](https://github.com/ljharb/qs/blob/13b2aa120ef8a08940899a55a75ce53e52c6ef84/lib/utils.js#L70) implementing [RFC 3986](https://www.ietf.org/rfc/rfc3986.txt) but RFC 3986 specifies reserved characters as:

However `$` (as pointed out in [request#2129](https://github.com/request/request/issues/2129)) will be encoded as `%24`. I guess this is a bug?

[2016-05-10 04:50] ljharb commented on #163
It seems like that linked issue comes from `querystring`, not `qs`, but I'd certainly like to comply with RFC 3986.

A PR, with at least failing tests, would be very appreciated.

I may make this "bugfix" a breaking change, however, just to be safe.

[2016-05-11 07:57] ljharb commented on #94
@seishun please reopen if this is not resolved.

[2016-05-11 07:57] #94 closed

[2016-05-13 10:39] aight8 opened #164 "Query string don't contain empty object"
When I have the following object:
[code]

The query string don't contains the myObject.

[2016-05-13 14:44] ljharb commented on #164
What would you expect the query string to look like? In query strings, there's usually not "empty arrays" or "empty objects" - if it contains nothing, it usually doesn't exist.

[2016-05-19 08:11] faboulaws opened #167 "qs.stringify converts mongo ObjectID to an object instead of a string"
When stringify is called with a  mongodb ObjectID it turns it into something like this
`{_bsontype:'ObjectID', id:<raw bson data>}`

Is it possible to add a setting the the opts parameter to automatically call toString() on certain objects?

[2016-05-19 16:05] ljharb commented on #167
I'm relatively confident that *is* the `toString` output of a mongo ObjectID. If you pass it into `String()`, what do you get?

[2016-05-19 19:54] faboulaws commented on #167
Of course. There is a toString() to mongo ObjectID.

Let clarify with examples:
When processing and object with the structure below

`var person = {user_id:<ObjectID>, username:'JohnDoe'}`

and  calling

`qs.stringify(person)`

we get something like

`user_id[_bsontype]=ObjectID&user_id[id]=VÝU¹Bò-®Ä÷@¾&username=JohnDoe`

You can see that the user_id property is converted to an object with 2 param

[2016-05-19 20:25] ljharb commented on #167
I want to make sure I understand what the ObjectID object looks like - I'm familiar with mongoose ObjectIDs but not mongo ones. Can you share the output of the following, where `x` is the ObjectID?
 - `Object.getOwnPropertyNames(x)`
 - `String(x)`
 - `JSON.stringify(x)`
 - `Object.getPrototypeOf(x) === Object.prototype`
 - `Object.getPrototypeOf(x) === null`

Thanks!

[2016-05-19 21:00] faboulaws commented on #167
Sorry, I actually meant mongoose ObjectID.

For an example ObjectID from mongoose we get:

- `Object.getOwnPropertyNames(x)  => [ "_bsontype",  "id"]`
- `String(x) => "54a28815636d7324f8040000"`
- `JSON.stringify(x) => "54a28815636d7324f8040000"`
- `Object.getPrototypeOf(x) => ObjectID`

Thanks

[2016-05-21 23:07] ljharb commented on #167
You can currently do this by providing a custom `encoder` function, but you'd have to also handle all the web encoding that `qs` currently does.

It would be a pretty major breaking change to stringify rather than destructure object inputs, so I don't think that can happen. Doing it through a param could be possible, but then if your Person had an object-valued property on it, that might produce t

[2016-06-28 08:22] essivision opened #168 "How to use your library in Angularjs?"
Hi

How to use your library in Angularjs app?

Thanks

[2016-06-28 08:38] ljharb commented on #168
You use this library the same way in Angular you'd use it anywhere - install it from `npm`, and incorporate it into your build process (via `browserify`, `webpack`, or similar).

[2016-06-28 08:38] #168 closed

[2016-07-15 23:52] wearhere commented on #107
I am curious though, why? This is a severe gotcha when using `request` and `express`, since by default `request` uses `qs` to serialize querystrings using the indices format, and `express` uses `qs` to parse querystrings: this means that the behavior of your route handler changes depending on the length of the input.

[2016-07-16 00:23] ljharb commented on #107
@wearhere my guess (it was from before i took over) primarily performance. If there *isn't* a limit, then someone could DOS your server by sending a very large request.

[2016-07-16 00:51] wearhere commented on #107
Oh, it would make sense to me if the array was truncated at some point.

But isn't the array completely parsed at present? It just happens to be completely parsed _as the keys of an object_ once it becomes sufficiently large.

[2016-07-16 01:03] yanickrochon commented on #107
I believe this is to prevent someone sending `foo[999999999999]: LOL` and produce an array with 100M elements :stuck_out_tongue:

But then again, having everything be objects instead of arrays would be fine as well, and would be more consistent, relying on the server's max request size as limit.

[2016-07-16 02:09] wearhere commented on #107
Ahh, as opposed to, I had been thinking, `foo[0]=LOL&foo[1]=LOL&…foo[999999999999]=LOL`.

That sounds great to me. There are two other ways to serialize arrays (`foo[]=1&foo[]=2` and `foo=1&foo=2`), so it makes perfect sense to reserve `foo[1]=1&foo[2]=2` for serializing objects, especially since that resembles the way to serialize objects with non-numeric keys (`foo[a]=1&foo[b]=2`).

[2016-07-16 02:39] yanickrochon commented on #107
And that `foo[bar]=LOL&foo[2]=bleh` would have `foo[2] = 'bleh';` anyway. Exactly.

[2016-07-16 04:49] ljharb commented on #107
I believe you can get that behavior now by setting `arrayLimit` to `0`?

[2016-07-16 05:37] wearhere commented on #107
That's a good stopgap. `express` doesn't expose configuration for its querystring parsing, but asking them to do so is a reasonable request.

To make parsing unambiguous, I am advocating that you make the following changes, though:

* make `arrayLimit: 0` the default for parsing
* make either `'brackets'` or `'repeat'` the default `arrayFormat`

thus the indices format would come to exclusively re

[2016-07-16 05:43] ljharb commented on #107
I see the argument for making `arrayLimit` default to zero - it means there's no "magic number" at which param parsing changes, and anyone who wants the behavior can simply set it, so even though it'd be a breaking change, it wouldn't be a hard one to recover from.

Is the argument for changing `arrayFormat` that it would match this parsing behavior? If so, I'd pick "brackets", since "repeat" is a

[2016-07-16 05:44] ljharb commented on #167
This seems like it should be closed for now - I think the best approach is that you manually stringify your ObjectIDs.

[2016-07-16 05:44] #167 closed

[2016-07-16 05:44] ljharb commented on #164
Closing this, since this seems to be to be working as designed.

[2016-07-16 05:44] #164 closed

[2016-07-16 05:52] wearhere commented on #107
Sounds great!

Yup. Otherwise `qs` would no longer be internally consistent in the following sense:

[code]

Sounds good to me (and agreed! 😄) That'd also be consistent with how [`$.param`](http://api.jquery.com/jQuery.param/) works, fwiw:

[code]

Thanks for your consideration!

[2016-07-21 05:32] ljharb commented on #142
Happy to reopen, given more information.

[2016-07-21 05:32] #142 closed

[2016-07-21 05:34] ljharb commented on #91
I'm happy to consider a way for users to opt in to automatic coercion - but I wouldn't want that by default.

I'm closing this for now, but am happy to reopen it if it warrants further discussion or work.

[2016-07-21 05:34] #91 closed

[2016-07-21 05:59] #159 closed

[2016-07-22 08:02] ljharb commented on #105
@alex94puchades does this mean that you would expect integer (or omitted) indexes to be in an array, and everything else to be in an object inside the array, and then collapsing consecutive objects? ie, `foo[]=bar&foo[]=baz&foo[a]=1&foo[b]=1&foo[]=quux` would become `{ foo: ['bar', 'baz', { a: 1, b: 1 }, 'quux'] }`?

[2016-07-28 21:45] ljharb commented on #63
I'm happy to consider doing this in a semver-major bump - reopening, per https://github.com/expressjs/express/issues/3039#issuecomment-236029362

[2016-08-01 14:19] jaxoncreed opened #170 "Deeply nested elements will mess up keys."
When dealing with deeply nested elements the keys will begin to be added to a string rather than continue nesting:

Example:
`?shweep[weep][beep][meep][leep][teep][moop][goop]=10`

Will yield:

[code]

But should yield:

[code]

[2016-08-02 05:07] ljharb commented on #170
This is documented in the [readme](https://github.com/ljharb/qs#parsing-objects) and is covered by the "depth" option, which defaults to `5` (weep + beep + meep + leep + teep). Pass `{ depth: 10 }` and you'll get what you expect.

[2016-08-02 05:07] #170 closed

[2016-08-16 18:28] mvattuone commented on #152
Was there ever a PR made to account for this behavior? Running into an issue using this module, currently.

[2016-08-16 18:38] svincent commented on #152
Sorry, no. I got busy and unfortunately it fell off my radar.

[2016-08-16 18:45] mvattuone commented on #152
No worries!

[2016-08-30 08:54] spoeken opened #172 "Filter function for parsing, or some way to turn values into arrays."
I would like some way to turn this:
`fruits=apple,banana,mango&drinks=gt,cuba-libre,beer`
into this:
`{fruits:['apple','banana','mango'],drinks:['gt','cuba-libre','beer']`

I've tried to use the filter function, but realized it doesn't work for parsing. But this makes sense to me:

	function filterFunc(prefix, value) {
		console.log('Filtering');
	  if (value.indexOf(',')) {
	    return value.spli

[2016-08-30 17:59] ljharb commented on #172
The proper way is to use array syntax in your query string: `fruits[]=apple&fruits[]=banana&fruits[]=mango` etc

[2016-09-09 07:49] spoeken commented on #172
Thanks @ljharb
thats pretty clear in the docs as well.
I was hoping there was a way to tweak this to my liking, with qs.
Not a big deal tho, made a separate function for it.

[2016-09-09 07:49] #172 closed

[2016-09-09 08:05] ljharb commented on #172
I think that could be added to `qs` given a use case, but supporting nonstandard querystrings isn't a great one :-/

[2016-10-04 06:43] slavafomin opened #173 "Add support for RFC 1738"
Hello!

Thank you for this great module!

I'm using it to stringify API request query parameters and then generate MD5 hash of the resulted string. However, the server is expecting this string to be in RFC 1738 format, not in RFC 3986. This leads to incorrect hash, because spaces should be represented as `+`, not as `%20`.

It looks like server uses PHP's [http_build_query](http://php.net/manual/e

[2016-10-04 07:05] ljharb commented on #173
https://github.com/ljharb/qs/issues/152#issuecomment-211534354 seems relevant.

Note that you can already pass a custom `encoder` function to `stringify`, that will let you do the replacement there, and a custom "decoder" function to "parse".

[2016-10-04 07:11] slavafomin commented on #173
I would suggest this API:

[code]

[2016-10-04 07:15] ljharb commented on #173
That's really not a bad idea at all.

Are there other RFCs that we'd want to support?

@slavafomin would you be willing to make a PR that adds these formats to both `parse` and `stringify`?

[2016-10-04 07:19] slavafomin commented on #173
@ljharb I would love to do so, but my time is extremely limited these days. I'm having a hard time supporting my own libraries right now. Sorry, I hope someone will have the time to implement this, because it looks like a good idea.

[2016-10-06 18:18] Max-Kolodezniy commented on #173
Done here. API interface is exactly the same as described above
https://github.com/ljharb/qs/pull/174

[2016-10-15 05:58] ljharb commented on #173
Done in #174.

[2016-10-15 05:58] #173 closed

[2016-10-16 15:41] slavafomin commented on #173
Great job!

[2016-10-19 23:13] malowitzki commented on #91
Could there not be some way of indicating coercion on a case-by-case basis, using a special character maybe? For example, we could have http://example.com/api/todos/?completed@=true&id@=1, and that would indicate that we want `'completed'` and `'id'` to be coerced, so we'd get `{ completed: true, id: 1 }`... but if we just did completed=1&id@=1, then only id would be coerced, so we'd get `{ comple

[2016-10-20 00:59] ljharb commented on #91
That seems very inelegant - you'd need to support that special character in your server code as well as your client code.

In other words, there's no standard for using some kind of special character, so I think it'd be a very bad idea to codify that into `qs`.

[2016-10-20 01:44] malowitzki commented on #91
Can't say I agree... is the []= syntax standard? It's commonly used, but I don't think it's any kind of standard, as far as I can see, yet qs supports it.

Besides, choosing a character isn't a _huge_ ask, especially when the default is provided. People can just construct their urls in the client using @=, and then the server would coerce just those values. If they want to always coerce, they can

[2016-10-20 01:46] dougwilson commented on #91
It is specified in http://www.w3.org/TR/html-json-forms/ , yes. It was working being done to create a standard, through that work has been stopped now.

[2016-10-20 21:07] jpettitt opened #176 "filter using a function doesn't work."
[![view on requirebin](http://requirebin.com/badge.png)](http://requirebin.com/?gist=8edddc53bea09b73ef9f74ead4056561)

Basically if you tell it to stringify `{ x: 1 }` with a filter function the function is called with `prefix` set to an empty string and `value` set to  `{ x: 1}`  (expecting `prefix === 'x'` and `value === 1`)

[2016-10-20 22:02] ljharb commented on #176
If you look at the [test](https://github.com/ljharb/qs/blob/master/test/stringify.js#L385), the filter function is designed to call the first time with an empty prefix, and the entire object.

In other words, the *second* call should get `'x', 1` as arguments: http://requirebin.com/?gist=5b75dbff59cc5b97ad231fcc9f575b56

[2016-10-20 22:02] #176 closed

[2016-10-21 12:10] chrisveness opened #177 "Strip inital question mark from query string if present"
Could any leading question mark be removed from the query string supplied to `qs.parse()`?

Currently if the query string supplied to `qs.parse()` has the initial question mark, it gets included in the property name of the parsed object:

[code]

This can be removed manually (`qs.parse(location.search.slice(1))`), but it would be nicer not to have to do that, and I cannot see any case where the qu

[2016-10-21 19:23] ljharb commented on #177
That would potentially be a breaking change for anyone relying on that behavior.

[2016-10-22 08:07] chrisveness commented on #177
True. I can't imagine why someone would want that behaviour, but just because I can't imagine it doesn't mean it's not possible :)

[2016-11-11 05:25] hongyuanlei opened #178 "Different array parse behaviour of x-www-form-urlencoded between ExpressJS and rails"
I use `content-type: application/x-www-form-urlencoded` to send POST request to backend server. The post body as follow:

[code]

In backend server, if I use ruby on rails, the POST will be parsed as follow:

[code]

This result is what I expected to be.

But, If I use nodeJS express and body-parser:

[code]

`extended: true ` means that bodyParser will use `qs` to parse data.

The POST will be pa

[2016-11-11 06:21] ljharb commented on #178
hm, that does seem wrong. What version of `body-parser` and thus `qs` are you using?

[2016-11-11 07:07] hongyuanlei commented on #178
The version of `body-parser` is "1.15.2", and the version of `qs` is "6.2.0".

[2016-11-11 07:17] hongyuanlei commented on #178
I install the `qs` of versions 6.3.0 and do the test as following:

[code]

The result still not what I wanted.

[2016-11-11 07:45] ljharb commented on #178
A query string of `'listing[pictures][files][0][name]=9ADDD7B1-FCFF-4538-916A-1E63DFB43A72&listing[pictures][files][1][name]=EFFE67B2-5D41-4B74-A33E-5963F54FAEC7&listing[pictures][files][2][name]=BBC9CB38-FE01-4F1A-AE37-7ED71F4B2CB5'` does parse how you want - but I agree this is strange.

I believe this might be related to #122 and perhaps also #123, but I'm going to leave this open also.

[2016-11-17 04:41] dougwilson commented on #177
When `qs.parse` is used for, say, a POST body, it is not expected that a leading `?` would magically be stripped, as an example of a use-case that does not want automatic stripping.

[2016-11-17 04:45] ljharb commented on #177
@dougwilson Thanks! could you provide an example POST that would result in a leading `?`, to solidify your explanation?

[2016-11-17 05:05] dougwilson commented on #177
Any POST body... the body is a literal, so if it starts with a `?` character, that character needs to be in the parsed body. This stripping is something that is just a convenience for the query string in a URL, since the `?` is used a separator. There is no separator in a POST body, thus stripping it is a very smelly thing to do.

[2016-11-17 05:13] dougwilson commented on #177
To be clearer: I really don't care if this module wants to strip the first `?` if it's there, nor even if that is the default behavior, but it would be nice if there was some kind of switch (either opt-in or opt-out). If it's a forced feature, I can work-around it with the following hack:
[code]
which is a lame thing :(

[2016-11-17 05:36] ljharb commented on #177
In that case I think this should simply be an option to `parse` to *enable* `?`-stripping, so you wouldn't have to opt-out of anything.

[2016-11-17 18:03] chrisveness commented on #177
I think a POST body is the use-case I hadn't been imagining!

Given @dougwilson's observations, I agree *qs* shouldn't strip leading question marks by default.

It's then hard to see an option which would be simpler to use then just

    var qry = qs.parse(location.search.slice(1));

since `location.search` etc always incude a leading question mark – so perhaps the best solution would just to have

[2016-11-17 18:13] ljharb commented on #177
That's also fine, although an option that is able to detect and remove the first `?` but not the first character still might be useful - ie, that does something like `.replace(/^\?/, '')` (but cleaner than that).

[2016-11-22 21:45] LukeSwart commented on #147
@shawnzhu Is this package still available on Bower? I tried `bower install qs --save`, but it downloaded the package from this repo: https://github.com/nire0510/qs

Is this package registered to another namespace on bower? Or is it no longer available?

[2016-11-24 14:00] vpanjganj commented on #163
@ljharb can we just fix with something  like this ? (it's on MDN doc for encodeURI)
[code]

[2016-11-24 17:33] ljharb commented on #163
@vpanjganj that's very unlikely to be the best solution, but i'd first need failing test cases to evaluate it.

[2016-12-01 18:29] razorcd opened #179 "Decoding and parsing misbehaving"
Parsing URL encoded params is not returning the correct result in one pass. (I am using TypeScript)

[code]

[code]

Is this a bug or is there another way to handle this using `qs`.

[2016-12-01 23:21] ljharb commented on #179
Yes - your initial example is double-encoded - ie, it is not a valid query string.

It's more luck that `qs.parse` decodes it for you - but it should be decoded by your webserver (or `window.location.search` before being passed to `qs.parse`.

[2016-12-02 08:44] razorcd commented on #179
thanks for your help.
This did the trick:
[code]

[2016-12-02 19:51] #179 closed

[2016-12-06 13:56] kasicka opened #180 "Falling CVE test"
Hi, the following test for CVE-2014-7191 fails with qs@1.2.2 and qs@6.1.0

Test:
var qs = require('qs');
var assert = require('assert');

var q = qs.parse('a[0][999999999]=1');
console.log(q.a[0]);
assert.equal(q['a'].length, 1);
assert.equal(q['a'][0], 1);

Error:
{ '999999999': '1' }

assert.js:85
  throw new assert.AssertionError({
  ^
AssertionError: { '999999999': '1' } == 1
    at Object.<an

[2016-12-06 17:12] ljharb commented on #180
Can you provide a full link to the CVE? Also, 6.1.0 is out of date; does it fail on 6.3.0?

[2016-12-06 19:33] kasicka commented on #180
https://nodesecurity.io/advisories/qs_dos_memory_exhaustion

This is a really old CVE that should only affect versions < 1.0.0

[2016-12-07 02:09] ljharb commented on #180
I'm not sure I understand - the CVE is talking about a large sparse array, but this is creating an *object*, not an array at all. I'm not sure the test is valid.

[2016-12-07 02:09] ljharb commented on #180
@kasicka also, that CVE is for `node-querystring` - this is `qs`. Entirely separate packages.

[2016-12-07 02:09] #180 closed

[2016-12-08 12:46] DanielRuf commented on #177
Why not an optional argument to control this? This should not break something.

[2016-12-08 16:31] ljharb commented on #177
@DanielRuf that's what my [previous comment](https://github.com/ljharb/qs/issues/177#issuecomment-261324014) is suggesting.

[2016-12-12 04:56] JC3 opened #181 "Option to not collapse arrays with missing indices."
The following test:

    $ node -pe 'require("qs").parse("option[1]=1&text[0]=&text[1]=&text[2]=")'

Produces:

    { option: [ '1' ], text: [ '', '', '' ] }

The `option` array is collapsed and the missing index 0 is removed. According to the qs documentation, this behavior is intentional. However, it causes problems when handling arrays of checkboxes on a form with e.g. body-parser.

Consider:

[2016-12-12 06:15] ljharb commented on #181
The typical way this is solved, across all server frameworks, is for each checkbox, prepending a hidden input with the same name and an explicit value.

In other words:
[code]

That way, an unchecked checkbox still gets submitted as a falsy value, and you don't have to infer anything.

The other alternative is to use an alphanumeric object key as the part inside the brackets - `0`, `1`, etc are fo

[2016-12-12 13:37] JC3 commented on #181
@ljharb That's almost the workaround, but an unchecked checkbox doesn't get a falsey value in that case.

In your HTML snippet, an unchecked box gets the scalar value `"0"`. A checked box gets the array value `["0","1"]` (qs packs same-named values into an array). Both of these are truthy (the string "0" is truthy). So if I were to check `option[1]` in that snippet then post, it would be parsed as

[2016-12-12 17:24] ljharb commented on #181
That's true. Have you considered naming your fields as `option[]` instead, and using the values (instead of array positions) to indicate which box was checked?

[2016-12-12 18:18] JC3 commented on #181
@ljharb I have, that's another viable option. So is client-side JavaScript to build and submit a full array. Basically it all boils down to extra-processing-required with many ways to skin that cat. But if I could choose to not collapse arrays, the results could be used directly.

[2016-12-12 18:38] ljharb commented on #181
I think that semantically, the best bet is `option[]` - I don't understand why you'd want to provide explicit indexes on what is semantically a list.

Effectively, the option you're requesting would be one that either created sparse arrays, or filled in the empty values with an explicit `null` or `undefined` - sparse arrays are a horrifically bad practice, very slow, and should never be used; and

[2016-12-12 18:54] JC3 commented on #181
In my specific case the forms are generated dynamically. Numeric indexed arrays are the only straightforward option. There is no good way around it.

The issue with `foo[9999999]` is solvable by allowing a user-specified array size limit alongside the option to not collapse arrays. I already see an `arrayLimit` option in the documentation.

I have not played with `parseArrays`, I am not entirely s

[2016-12-13 01:55] ljharb commented on #181
`qs` doesn't do that, browsers do. Unchecked checkboxes aren't submitted by browsers.

[2016-12-13 01:56] ljharb commented on #181
true, `arrayLimit` would also apply here.

I guess I'm just not understanding why it's not an option to omit numbered indexes in checkbox names - there's not really a reason *to* ever include numeric indexes inside the brackets on any form element. That's usually used for namespacing - ie, some alphanumeric identifier.

[2016-12-13 03:09] JC3 commented on #181
I meant that `qs` removes the gaps in the array; the only remnants of unchecked checkboxes the browsers give us.

Anyways, one simple use case for indexed items is when you are dynamically adding sets of inputs to a page. Numeric indices are your only straightforward choice for this.

For a working case see, for example, phpMyAdmin. In the "new columns" page, for example, you can choose to add an

[2016-12-13 03:26] ljharb commented on #181
You can dynamically add `option[]` with no numerical indices - there's zero reason you need them for single options - if you have multiple options, the better choice would be to pick a unique alphanumeric name - for example, `description["item_" + n]` is a very straightforward choice, is trivial to iterate on the other side.

I'll think more about this option - creating sparse arrays is just not a

[2016-12-19 11:24] christensson opened #186 "stringify doesn't encode empty arrays"
`qs.stringify({ a: [] })` results in an empty string `""`. And thus `qs.parse( qs.stringify({ a: [] }) )` results in `{}`.

What I would want is that `qs.parse( qs.stringify({ a: [] }) )` results in `{ a: [] }`. Any ideas?

[2016-12-19 19:01] ljharb commented on #186
Why? Query strings typically only have contents when there's stuff there - ie, an empty array *is* nothing.

[2016-12-19 20:54] christensson commented on #186
Yes, I can agree to that, but consider the following example `qs.stringify({ a: { b: [] } })`. What is transfered is the "knowledge" that a contains b and that it is b that is an empty list.

To give a bit of background, what I'm actually trying to encode to a query-string is a mongodb query looking like this: `{ _id: { $in: idArray } }` where idArray is an array which might be empty. This interpr

[2016-12-19 22:39] ljharb commented on #186
That sounds like a mongo-specific issue that would be better solved by falling back to `{ _id: { $in: [] } }` when the object is empty - or, by JSON-encoding the query parameters as a single field. In other words, I don't think HTTP query params are the proper vehicle to convey all this information.

[2016-12-20 07:41] christensson commented on #186
OK, I understand what you are saying. I will keep my current solution where I encode the information.

[2016-12-20 07:41] #186 closed

[2016-12-20 19:58] BenjaminHorn opened #188 "Parsing bug"
this parameter string
`[where][and][0][valid]=true&filter[where][and][1][or][0][name]=test&filter[where][and][1][or][1][deleted]=false`

gets parsed as:

`{"and":[{"valid":true},{"or":[{"[name]":"test"},{"[deleted]":false}]}]}`
_note the square brackets around name and deleted_

We found this behavior in [Loopback](https://github.com/strongloop/loopback), which uses this module for parsing paramet

[2016-12-20 20:34] ljharb commented on #188
The differences I see in your example are:
 - `json.filter.where.and[0].valid === true` but `y.filter.where.and[0].value === 'true'`
 - `$.filter.where.and[1].or`:
   - `json.filter.where.and[1].or` => `[ { name: 'test' }, { deleted: false } ]`
   - `y.filter.where.and[1].or` => `[ { '[name]': 'test' }, { '[deleted]': 'false' } ]`

`qs.parse` has a default `depth` option of 5 (documented in the re

[2016-12-20 20:34] #188 closed

[2016-12-22 11:00] Boazc opened #190 "Parse ignoring empty array brackets"
I am using the parse option, trying to parse a query string with empty array brackets and nested elements:

queryString = by_value_range[fields][][name]=sku_count&by_value_range[fields][][min]=20&by_value_range[fields][][max]=50&by_value_range[fields][][name]=marketplace&by_value_range[fields][][min]=20&by_value_range[fields][][max]=122

parse(query)
returns

A "fields" array with only one element

[2016-12-22 20:18] ljharb commented on #190
[code]
gives me
[code]

Are you saying you'd expect it to give you
[code]
?

(Either a nested `[]` is treated as the same array item, or it'd need to be treated as a new array item on every appearance)

[2016-12-22 20:21] Boazc commented on #190
I solved it with the indices, which does the job well.
When you use the brackets format it doesn't recognize it as an array if there is no implicit key: value inside the array.

[2016-12-22 20:21] #190 closed

[2016-12-22 20:22] ljharb commented on #190
Right, there'd be no way for it to link together the first `[][name]` and `[][min]` without also linking the second `[][name]` and `[][min]`.

[2016-12-22 21:26] Sigfried commented on #91
I was here with the same issue and I just solved it like:

[code]

[2016-12-30 18:56] mmcgahan commented on #91
Adding my +1 to this feature request and linking it to the [previous discussion](https://github.com/tj/node-querystring/issues/34) in the original package that `qs` is based on.

There's definitely a lot of support and use cases for the feature, and I think making it opt-in would be great with a `coerce` option in `qs.parse`.

[2016-12-30 18:58] ljharb commented on #91
@mmcgahan You can already provide your own encoder and decoder, deciding for yourself when "true" means a boolean versus a string - I'm not sure how that decision could ever be codified inside `qs` or `node-querystring` in a way that makes sense.

[2016-12-30 19:01] mmcgahan commented on #91
ah, `decoder` is perfect for me. I didn't see the docs in the stringify section - thanks!

[2017-01-12 02:07] jakey-wan-kenobi opened #194 "qs.stringify() doesn't work on an object (code provided)"
When I run this in a Node 7.2 environment:

[code]

I get this:
[code]

Any idea why I can't stringify this object?

[2017-01-12 04:02] ljharb commented on #194
When I use your example - but add the missing `);` at the end - I get: `'attachments%5B0%5D%5Btext%5D=Choose%20a%20game%20to%20play&attachments%5B0%5D%5Bfallback%5D=You%20are%20unable%20to%20choose%20a%20game&attachments%5B0%5D%5Bcallback_id%5D=wopr_game&attachments%5B0%5D%5Bcolor%5D=%233AA3E3&attachments%5B0%5D%5Battachment_type%5D=default&attachments%5B0%5D%5Bactions%5D%5B0%5D%5Bname%5D=chess&at

[2017-02-02 10:02] jbhatab commented on #105
Yeah I'm experiencing this too and getting hashes instead of arrays. Same format of object -> array -> objects

[2017-02-02 11:17] acidjazz commented on #177
since this is mainly related w/ parsing the URL itself which turns into a get

[code]
or maybe a wrapper?

[code]

[2017-02-02 17:16] ljharb commented on #177
The former is a bit generic, and the latter is a whole extra API to support - I'd probably make the option `stripLeadingQuestionMark` and default it to `false`, if that would work for folks.

[2017-02-02 17:16] ljharb commented on #105
@jbhatab what would your expectation be in response to my [question](https://github.com/ljharb/qs/issues/105#issuecomment-234479808)?

[2017-02-02 17:23] DanielRuf commented on #177
Right. Optional parameters which default to false.

[2017-02-03 15:15] chrisveness commented on #177
When I asked the original question, I thought it might be a simple request; I now realise how wrong I was.

I thought that if the initial question mark was never required, it might be nice to be able to write

    var obj = qs.parse(location.search)

rather than

    var obj = qs.parse(location.search.slice(1))

@dougwilson pointed out why this was naive; for my use-case, simply using `.slice(1)`

[2017-02-06 18:12] acidjazz commented on #177
I think something like @ljharb suggested would still be a bit more syntactic sugar than a slice.

[2017-02-06 18:24] xblox opened #196 "weird results with file paths in url"
Hi,
I am not sure this is intended:

[code]

Of course I'd have expected an object:

{
  'userDirectory': 'C:\Users\mc007\Documents\Control-Freak'
}

I am aware that absolute file paths, encoded with encodeURIComponent could confuse the parser.

Any idea ?
thanks a lot for your library!

[2017-02-06 19:16] xblox commented on #196
there are even different results when running qs.parse on windows and linux for that url.

[2017-02-07 00:36] ljharb commented on #196
`qs.parse` expects a query string - it's not valid to provide it a full URL.

Try `qs.parse('?userDirectory=C%3A%5CUsers%5Cmc007%5CDocuments%5CControl-Freak')`

[2017-02-07 00:37] xblox commented on #196
too funny, thanks a lot

[2017-02-07 10:25] xblox commented on #196
@ljharb so I tested `'?userDirectory=C%3A%5CUsers%5Cmc007%5CDocuments%5CControl-Freak'`
but this gives me:

`{ '?userDirectory': 'C:\\Users\\mc007\\Documents\\Control-Freak' }`

doesn't really look right to me.

[2017-02-07 10:30] #196 closed

[2017-02-09 00:21] edgework opened #197 "Object with array containing object and scalars is not parsed correctly."
Client request from any browser    $.get('/ajax',  {arr:  [{foo: 123, bar: 'foo'},2,3] }, ...

is parsed as

`{
	arr
	{
		__0: [{ foo: 123, bar: 'foo', 2: true}, 3]
	}
}`

it should be

`{
	arr:	[ {foo: 123, bar: 'foo'}, 2, 3 ]
}`

[2017-02-09 01:19] ljharb commented on #197
jQuery uses `$.param` internally, which produces `"arr%5B0%5D%5Bfoo%5D=123&arr%5B0%5D%5Bbar%5D=foo&arr%5B%5D=2&arr%5B%5D=3"` for your example.

What I get with the latest qs is `q.parse('arr%5B0%5D%5Bfoo%5D=123&arr%5B0%5D%5Bbar%5D=foo&arr%5B%5D=2&arr%5B%5D=3')` producing `{ arr: [ { '2': true, foo: '123', bar: 'foo' }, '3' ] }`, which while different from what you expect, is also not the same as w

[2017-02-09 01:29] edgework commented on #197
`arr%5B__0%5D%5B0%5D%5Bfoo%5D=123&arr%5B__0%5D%5B0%5D%5Bbar%5D=foo&arr%5B__0%5D%5B%5D=2&arr%5B__0%5D%5B%5D=3`

From a POST

qs.parse(req.body)

[2017-02-09 07:18] ljharb commented on #197
As you can see, that string has `__0` in it - I'm not sure where that comes from, but that could be messing things up.

[2017-02-09 17:40] edgework commented on #197
_0 marks the array. That's coming from the browser URI encoding the object.

[2017-02-09 18:37] ljharb commented on #197
As you can see from my `$.param` output above, that's not at all how the browser encodes it - `__0` shouldn't ever appear unless you typed that out or a framework you use injected it - I'd love to get more information from you about the exact content of the Network tab in the browser (so you know with certainty what the browser is sending), to compare it to the query string you provided [here](htt

[2017-02-09 18:53] edgework commented on #197
[qsbug.zip](https://github.com/ljharb/qs/files/764680/qsbug.zip)

Sample project that reproduces attached.

To run

extract
$ npm install
$ npm update

visit http://localhost:3000/

press do it

notice consle.

Code is at qsbug/routes/index.js
// ##LOOK HERE##

[2017-02-09 18:55] ljharb commented on #197
Thanks, this will take me a bit to get to, but I appreciate the repro code :-)

[2017-02-16 07:11] #148 closed

[2017-03-02 11:19] kamael opened #200 "prototype override protection bypass problem still exists."
as the bug https://snyk.io/vuln/npm:qs:20170213 report fixed, but the other bypass

[code]

still exists.

[2017-03-02 11:49] fengmk2 commented on #200
Yep, it's only fix `]=toString`, but `[=toString` not fixed.

![image](https://cloud.githubusercontent.com/assets/156269/23506065/48acff2e-ff81-11e6-92e4-314b074bd15d.png)

[2017-03-02 11:51] fengmk2 commented on #200
ping @ljharb

[2017-03-02 12:30] kamael commented on #200
i also write a simple tool to find this kind of bug. maybe it's also useful for other querystring implemention.

[code]

string which will bypass the protection (maybe caused by the same problem):

[code]

[2017-03-02 12:47] gxcsoccer commented on #200
😭

[2017-03-02 13:08] dead-horse commented on #200
@kamael please check this #201

[2017-03-02 19:26] ljharb commented on #200
Thank you, I'll take a look at this.

In the future, please use responsible reporting practices to submit security issues, which means *not posting them publicly* until a fix has been released.

[2017-03-06 04:36] #200 closed

[2017-03-06 16:51] lz000 opened #203 "No compatible version found: qs@6.4.0"
Just this morning (3/6/2017), when I tried installing qs@6.4.0 with command "npm install qs@6.4.0", I got error "No compatible version found: qs@6.4.0", I checked the npm registry https://www.npmjs.com/package/qs but I do see 6.4.0 is available. Anyone know what's going on?

below is the full error:
npm ERR! notarget No compatible version found: qs@6.4.0
npm ERR! notarget Valid install targets:
np

[2017-03-06 16:52] ljharb commented on #200
Released in v6.4.0, v6.3.2, v6.2.3, v6.1.2, v6.0.4.

[2017-03-06 16:55] ljharb commented on #203
When I run `npm show qs` i see the latest as 6.4.0 - any chance you're using a nonpublic registry? What's `npm config get registry` say?

[2017-03-06 17:52] #203 closed

[2017-03-06 17:52] lz000 commented on #203
Thanks, I tried again and it worked. Mast be a temporary issue

[2017-03-23 15:51] kunalspathak opened #204 "`npm test` fails"
npm test fails for module `evalmd` on windows.

[code]

[2017-03-23 20:39] ljharb commented on #204
As long as `npm run tests-only` works, that's the most important thing.

I think this is actually a Windows-specific bug in `evalmd`. Could you file it?

[2017-03-23 23:36] kunalspathak commented on #204
Thanks @ljharb for confirming. Opened https://github.com/reggi/evalmd/issues/11

[2017-03-23 23:36] #204 closed

[2017-03-30 22:34] jsmestad commented on #167
I would love to see support for this!

[2017-04-10 03:30] jakepetroules opened #205 "Add the ability to enable strict RFC 3986 conformance for decoding as well as encoding"
To achieve strict RFC 3986 conformance (specifically, '+' in query strings is a LITERAL '+' and not a placeholder for ' ' as per the W3C's URL recommendations, the following is necessary:

    qs.parse(s, {
        decoder: (str) => {
            try {
                return decodeURIComponent(str);
            } catch (e) {
                return str;
            }
        },
    })

For those of

[2017-04-10 05:41] ljharb commented on #205
(related to #163)

Indeed, since `stringify` supports that option, `parse` absolutely should as well.

[2017-04-11 20:06] seansfkelley opened #206 "provide some kind of `defaultDecode` as a fallback for `decoder` option"
I ran into an issue recently where I wanted to parse out boolean values to a proper boolean type:

[code]

Turns out this breaks parsing of URI-encoded array types:

[code]

Which I guess is reasonable (though, aside, the `decoder` API is not well-documented and has a lot of tricky subtleties like this). I wanted the last branch to just "do the default thing", but unfortunately that option is not

[2017-04-11 20:10] seansfkelley opened #207 "`options` parameter reference is mutated by `parse`"
The reference passed into `parse` gets mutated, which is unexpected (especially when you, like I, use a file-level constant as the reference).

[code]

The same is true of `stringify`, but to a lesser degree.

Neither `parse` nor `stringify` should modify any of their input parameters.

[2017-04-11 20:20] ljharb commented on #207
I agree; this behavior is legacy.

[2017-04-11 21:28] #207 closed

[2017-04-11 21:37] ljharb commented on #206
One possibility might be changing the encoder/decoder calls to pass the default encoder/decoder as the second argument to the function - although that might be breaking if anyone's checking `arguments.length`.

[2017-04-11 22:20] seansfkelley commented on #207
Thanks for the quick turnaround!

[2017-04-11 22:24] seansfkelley commented on #206
I would be okay with that solution as well. It'd keep everything in one place, too.

[2017-04-14 06:31] #206 closed

[2017-05-05 15:43] nabilfreeman commented on #42
Thanks @ngryman!

I know this is quite old, but a year on, i think the decision to discard all types when stringifying is not a good idea as it is very heavy-handed. Parsing sure, but not the other way around. The `qs-numbers` package does a good job restoring this functionality.

💪

[2017-05-05 16:17] ljharb commented on #42
@jerone because http query strings have nothing to do with json, so that'd be the wrong standard to follow?

[2017-05-14 19:14] jinalskothari opened #208 "Consider having installation section with at least the npm package name"
It may not be obvious to all that this lib lives in the npm registry with the same package name. It may be helpful to have a section in readme with this information. Happy to make a PR.

[2017-05-14 19:38] jinalskothari opened #209 "Option to ignore leading '?' in a search string"
I use react-router. It exposes a `location.search` string property. It includes the '?' character in the search string. I could write some code to remove it before I give to qs to parse; however it would be nice if qs could do that.

The api could look like this
[code]

[2017-05-14 23:10] ljharb commented on #208
Everything worth using lives in the npm registry, so that should be the default assumption :-)

However, I thoroughly agree that the readme should be more informative here - if you'd follow the example in https://raw.githubusercontent.com/ljharb/is-typed-array/master/README.md for the version number, the npm badge, and for funsies, the dep/dev dep badges and the license image (using the same footn

[2017-05-14 23:14] ljharb commented on #209
Duplicate of #177.

[2017-05-14 23:14] #209 closed

[2017-05-15 16:08] ljharb commented on #208
@jinalskothari please let me know if you're interested in making a PR for this.

[2017-05-15 17:18] jinalskothari commented on #208
@ljharb, I can take it up in 3 days and make PR. I'll check and post here before starting to avoid duplicated effort.

[2017-05-19 05:04] ljharb commented on #208
@jinalskothari should i take care of this?

[2017-05-19 08:43] jinalskothari commented on #208
Sorry I couldn't find time. @ljharb Yes please.

[2017-05-20 05:39] #208 closed

[2017-05-20 07:31] Jiiun opened #210 "not expected"
pic_text: qs.stringify([Array(0), ""]) ->
![image](https://cloud.githubusercontent.com/assets/13991287/26274032/3f59dda6-3d71-11e7-8881-d24db0a813b0.png)

[2017-05-20 07:33] ljharb commented on #210
Why is that not expected?

An empty array has no representation that can be sent to the server - so `[[], '']` is the same as `[, '']` - which is why you just get a `[1]`.

[2017-05-20 07:43] Jiiun commented on #210
there's no pic_text[0], it is strange

[2017-05-20 07:45] ljharb commented on #210
Right - because it's an empty array, so there's nothing to go there.

[2017-05-20 08:00] Jiiun commented on #210
![image](https://cloud.githubusercontent.com/assets/13991287/26274128/b949167e-3d74-11e7-9caa-bd68035a8102.png)
I used reqwest to submit the same data, it is empty too!  But more reasonable. I should try another way to communicate with the server. Thank you~
by the way~ your avatar is really cool^_^

[2017-05-20 08:00] #210 closed

[2017-06-06 07:48] dynnamitt opened #211 "Allocation failed - JavaScript heap out of memory"
Getting this error in an app that is using a limited amount of mem and lots of requests
see  https://github.com/auth0/passport-auth0/issues/45

[2017-06-06 08:05] ljharb commented on #211
This looks like a malformed request, and an absence of a "limit" - can you provide the JS code that's invoking `qs.parse`?

[2017-06-06 08:24] dynnamitt commented on #211
I'm working on a long running test now to see if latest request+qs have the same issue.
I think the trigger is a passport.deserialze() call 3 layers above this lib.

[2017-06-09 13:11] denizdogan commented on #181
I'm running into this limitation as well. My situation looks like this, with radio buttons:

    Title       1     2     3
    --------------------------
    Foo        ( )   ( )   ( )
    Bar        (*)   ( )   ( )
    Baz        ( )   (*)   ( )
    Qux        ( )   ( )   (*)

So the user chooses a value between 1-3, or nothing at all, for each title. The titles are dynamically generated. In this

[2017-06-12 15:25] oliversturm opened #212 "Nested arrays parsed incorrectly"
Hi,

I have this object:

[code]

Using jQuery `$.param()` (or jquery-param), this gives me the following query string:

[code]

Unfortunately, `qs.parse()` returns this instead of the original object:

[code]

The problem seems to be the part `filter[]=and` -- if I use `filter[1]=and` instead, the result is correct. However, the syntax makes sense to me the way it is, so I'm wondering if this is

[2017-06-12 19:30] ljharb commented on #212
What happens if you pass the `{ arrayFormat: 'indices' }` option to `qs.parse`? The default is `brackets`.

[2017-06-13 05:54] ljharb commented on #181
Why are the titles indexed instead of ordered by name?

[2017-06-13 07:39] sht5 opened #214 "boolean value is stringified as string"
if you stringify an object with a boolean key\value and then parse it the boolean is parsed as  a string

`const qs = require('qs');
const x = {a:2,b:false};
const str = qs.stringify(x);
const xAfter = qs.parse(str);
console.log(JSON.stringify(xAfter));
//{a:2,b:"false"}`

[2017-06-13 07:41] ljharb commented on #214
Everything that goes over the wire is a string; I'm not sure what else it would be?

[2017-06-13 08:20] oliversturm commented on #212
@ljharb Unfortunately this doesn't seem to make any difference - I get the same result with or without any `arrayFormat`.

[2017-06-13 08:25] ljharb commented on #212
ahhhh yes.

If you use indices in an array, you have to use them everywhere - it's not like code where you can just stick a random `[]` in there and it acts like "push".

So, I think that either it all has to use `[]`, or, it all has to use indices.

[2017-06-13 08:31] oliversturm commented on #212
@ljharb Well, like I said it's not me doing this - jQuery `.param()` does it that way. And while I agree that it would look cleaner to have indices everywhere, the intention of the query string still seems clear and unambiguous to me. I can't judge whether this query string should be consider correct or not...

[2017-06-13 08:33] denizdogan commented on #181
@ljharb I'm not sure what you mean... The titles are represented as strings in an array field in a MongoDB document.

[2017-06-13 08:34] ljharb commented on #212
Any reason not to use qs.stringify?

[2017-06-13 08:43] oliversturm commented on #212
@ljharb Good question, it might be possible and I'll check it out. I guess it would still be good if qs understood the output from jQuery correctly ;)

[2017-06-13 08:58] oliversturm commented on #212
Btw, I find that `{arrayFormat: 'indices'}` seems to be the default behavior for `stringify`? That's fine with me, just surprising if the default for `parse` is `brackets`. I also find (just out of curiosity) that results are surprising when using `brackets`:

[code]

Just FYI - I'm fine with the `indices` format and it works correctly. I'll see what it takes to use that instead of jQuery format f

[2017-06-13 09:32] sht5 commented on #214
I was under the impression that when parsing back i would get the same
object i stringified. I see now this is not supported

On Jun 13, 2017 11:56 AM, "Jordan Harband" <notifications@github.com> wrote:

[2017-06-13 16:49] ljharb commented on #214
Unfortunately, that's absolutely not a valid expectation when dealing with query strings - it's not even a valid expectation when dealing with JSON.

[2017-06-13 16:49] #214 closed

[2017-06-13 16:50] ljharb commented on #212
This is still looking into regardless; I do agree with you that it should "just work".

Separately, if the default arrayFormat is indeed different between parse and stringify, that's something that needs fixing :-)

In general I think the weirdness is caused by having an array of "sometimes arrays and sometimes a string" - if you put "and" in an array, my hunch is that the weirdness would vanish.

[2017-06-13 16:52] ljharb commented on #181
What happens if a user chooses the second title, and before they submit it, the list of titles is updated on the server?

(In other words, I'm suggesting not coupling "the order in mongo" to "your browser/server protocol")

[2017-06-13 16:53] ljharb commented on #177
This is done in #213.

[2017-06-13 16:53] #177 closed

[2017-06-13 16:54] ljharb commented on #212
* ah - `parse` doesn't take `arrayFormat` at all :-) that's just a stringify option.

[2017-06-13 16:56] DanielRuf commented on #177
Great, thanks for letting us know =)

[2017-06-13 17:05] aristidesfl opened #215 "Cannot parse array of objects using arrayFormat = 'brackets'"
The README states:

[code]
However when you try to parse an array with 2 objects, an object with 2 keys created instead:
[code]

This also happens with `arrayFormat= 'repeat'`.

[2017-06-14 08:36] denizdogan commented on #181
@ljharb There's a number of ways I work around the limitation, I'm using the hidden fields trick today with some processing of the submitted data in the backend code. The example I posted is from a real-world application and mostly a response to your previous comment:

[2017-06-14 09:00] oliversturm commented on #212
@ljharb I see! I was just going with your suggestion - had a hard time before finding a list of all the options somewhere, so I didn't check.

[2017-06-14 20:06] ljharb commented on #212
That's my bad :-)

[2017-06-14 20:07] ljharb commented on #181
Thank you for the example! I guess I'm just suggesting that the browser and server not communicate any information via ordering, but via more explicit methods - no matter how it's stored in a database.

[2017-06-14 20:08] ljharb commented on #211
I'm going to close this, but will be happy to reopen if it turns out to be a qs issue.

[2017-06-14 20:08] #211 closed

[2017-06-14 20:09] ljharb commented on #194
@jakey-wan-kenobi Is this still an issue? I'm happy to reopen it if so.

[2017-06-14 20:09] #194 closed

[2017-06-17 23:19] Noitidart opened #216 "Please expose toRFC3986 and toRFC1738"
I need to use toRFC3986 sometimes. Like when generating Twitter oauth token signature.

Currently I do this:

[code]

Would it make sense to expose this from qs?

[2017-06-18 05:10] ljharb commented on #216
It's already exposed, under that deep path :-)

The API of a package includes everything that's reachable; it's not just what's on the main export.

[2017-06-18 05:57] Noitidart commented on #216
Thanks very much @ljharb for the fast reply. I tried to understand that but I can't seem to access it, may you please share some code.

[2017-06-18 06:08] ljharb commented on #216
It's exposed in the way you're importing it in your original post - `require('qs/lib/formats').formatters. RFC3986` and `require('qs/lib/formats').formatters. RFC1738`.

[2017-06-18 06:10] Noitidart commented on #216
Ooo, but don't i have to run encode on it first?

[2017-06-18 06:16] ljharb commented on #216
For the value, yes - not for the key or prefix though: https://github.com/ljharb/qs/blob/master/lib/stringify.js#L62-L64

[2017-06-18 06:17] Noitidart commented on #216
Ah thanks my need was actually for outside of query string. Like I was using this on a url and other parameters. It's what some APIs ask for, Twitter API is the one I was working on today. So the only way is to actually wrap `encode` as I did in OP huh?

I'll close this out thanks so much for leaving it open for me to close.

[2017-06-18 06:17] #216 closed

[2017-06-18 06:23] ljharb commented on #216
Yes, I think that's probably best :-)

[2017-06-18 08:05] Noitidart commented on #216
Thanks so much brother for your support! I really appreciate it, all within a few hours too! :)

[2017-06-21 00:30] vith commented on #94
I've just run into the same problem. It would be nice if users of this library didn't have to reimplement the escaping logic it provides.

This is what I've done in a PR to a project that uses qs: https://github.com/vith/js-ipfs-api/commit/31a473860f8034a68bd6f84f0a0002c124c47425

Have I overlooked something? Passing a binary string via `Buffer.prototype.toString('binary')` into `require('qs/lib/u

[2017-07-04 07:51] slightlytyler opened #218 "Option ignoreQueryPrefix fails in node environment"
So I love that this feature was added but don't love that it doesn't work for SSR applications!
[code]
is producing `{ first: "10" }` in the browser but `{ '?first': '10' }` in node.

[2017-07-04 08:50] ljharb commented on #218
Hm, that doesn't seem right. Are you sure you're using the same version of `qs` in both?

[2017-07-04 14:39] bryanlarsen opened #219 "feature request: support for arrayFormat: 'comma'"
from the documentation for go-querystring:

Slice and Array values default to encoding as multiple URL values of the same name. Including the "comma" option signals that the field should be encoded as a single comma-delimited value. Including the "space" option similarly encodes the value as a single space-delimited string. Including the "semicolon" option will encode the value as a semicolon-deli

[2017-07-04 18:27] slightlytyler commented on #218
@ljharb its the same app that runs on the server and client, same codebase

[2017-07-04 18:37] slightlytyler commented on #218
I'll try to produce a minimal example as it's almost certainly a characteristic of my env

[2017-07-04 18:56] ljharb commented on #218
Thanks, with a repro case I can fix it, but the automated CI tests run in `node`, so if anything I'd expect to see node work and the browser not.

[2017-07-04 18:57] ljharb commented on #219
This looks like it might be a duplicate of #112.

[2017-07-05 18:35] slightlytyler commented on #218
Don't wtf happened but in the middle of debugging (`require('qs/package.json')` to compare) it started working. Guessing some weird issue with dependencies? I have no idea. No fix needed.

[2017-07-05 18:35] #218 closed

[2017-07-05 18:52] ljharb commented on #218
No worries, glad it's working!

[2017-07-26 04:55] AndersDJohnson commented on #141
Was this fixed in reverting 6c70b3110ef693cdf187ce4b89c5c10c987a6a32 (use `let` and `const`) via 224c8af8fc8abf48fd9ded33a38997a1d942c1c1?

[2017-07-26 05:00] ljharb commented on #141
@AndersDJohnson yes, that's correct.

[2017-07-26 05:00] AndersDJohnson opened #220 "Test node 0.6 or update engines"
This module claims to support node v0.6: https://github.com/ljharb/qs/blob/d66ac175bbf8afa44b41c2c85b04ae00bac7c916/package.json#L23

But the lowest version it tests is v0.8: https://github.com/ljharb/qs/blob/d66ac175bbf8afa44b41c2c85b04ae00bac7c916/.travis.yml#L15

We should either update it to test v0.6 also, or update its engines to v0.8 minimum.

[2017-07-26 05:05] ljharb commented on #220
We test [down to 0.4](https://github.com/ljharb/qs/blob/d66ac175bbf8afa44b41c2c85b04ae00bac7c916/.travis.yml#L156-L159), but there's issues with npm compatibility.

"engines" is both purely advisory, and is tied to support, not to "things we automated-test on" - we also support Firefox and IE and Chrome and Safari, but don't run automated tests on any of those.

[2017-07-26 09:25] AndersDJohnson commented on #220
Ah sorry @ljgarb, I didn't see that matrix in the travis file before.

[2017-07-26 09:25] #220 closed

[2017-07-26 18:32] ljharb commented on #220
I've fixed the issue with 0.6 in a80052d1ec864f74eb65a0dcf0f881924b9b91a0 and removed it from allowed failures in 489f2f855ea1fa3be9f24300b0cf6fb26d8bbbc7.

[2017-07-26 20:11] ryan-sherpa commented on #215
Any update here?

[2017-07-26 20:16] gajus opened #221 "How to exclude a specific character from being encoded?"
Whats the right way to whitelist (i.e. exclude from encoding) a specific character?, e.g. I want to keep `+` as plus sign, i.e. without converting it to `%20`.

I've read the documentation few times back and forward and don't see how to do it without overriding the entire encoding logic.

[2017-07-26 21:14] ljharb commented on #221
#152 and #173/#174 might be relevant here also.

[2017-07-26 22:42] ryan-sherpa commented on #215
@aristidesfl I hacked together a fix in a [forked version](https://github.com/healthsherpa/qs/commit/664266fbaa60c97f69d66de6b66b8f8b5c037432)

[2017-07-26 22:58] ljharb commented on #215
@ryan-sherpa no update, but if you have a fix, a PR would be very welcome!

[2017-08-01 15:57] eladrof commented on #112
@hueniverse can you please demonstrate how this structure can be expressed?

[2017-08-01 18:18] ljharb commented on #112
@eladrof I'm now maintaining the module.

You can provide a custom parsing encoder that can represent an array as a comma-separated string, for example.

[2017-08-16 16:56] mjhoffm2 opened #222 "ignoreQueryPrefix should also ignore # character"
I would like to be able to parse location.hash like this module does: https://www.npmjs.com/package/query-string

Currently, only the ? character is ignored when the ignoreQueryPrefix option is set.

[2017-08-17 06:51] ljharb commented on #222
In general, abusing the hash for a query string is a really bad idea - pages should either redirect (iow, in IE <= 8), or use pushState.

What's your use case?

[2017-08-17 22:27] ljharb commented on #222
If this were to be added, it'd need a separate option - ignoreAnchorPrefix or similar.

For the moment, `qs.parse(location.hash.slice(1))` seems simple enough?

[2017-08-17 22:51] mjhoffm2 commented on #222
The way I have my code set up, the query string that I need parsed may or may not include the hash character, so I have a helper function to check and remove the prefix.

However, I really like your suggestion of using String.slice(1) whenever I am reading directly from location.hash.  It also works when the hash is an empty string.  Thanks for the suggestion.

[2017-08-18 15:37] timhwang21 opened #223 "Feature request: option for deciding how to parse query without argument"
Hi,

I was wondering if it would be possible to support passing an option for deciding how to parse queries without arguments? Currently `url?foo` can be parsed as either the empty string or as `null`. I am wondering if it's possible to have the parser treat a query without arguments as `true`.

Some background: I ran into a case in our codebase which does this, it seemed odd to me but apparently

[2017-08-22 07:20] ljharb commented on #223
I'm not sure what you mean by "without arguments" - in `url?foo`, `foo` is the query string; `qs.parse('foo&bar=')` indeed returns `{ bar: "", foo: "" }`, and `qs.stringify({ foo: '', bar: true }))` returns `'foo=&bar=true'`.

You can certainly do this, however:
[code]

Does that cover your use case?

[2017-08-22 07:21] ljharb commented on #222
I'll leave it open in case others have the same request and can supply use cases.

[2017-08-22 11:37] timhwang21 commented on #223
"Query string field without a value" would probably be more accurate, sorry.

I was mainly wondering if something like this were possible -- basically, supporting valueless fields being parsed as having a given value:

[code]

Thanks!

[2017-08-22 16:47] ljharb commented on #223
That's interesting. Effectively, it'd be an option for both parse and stringify that defined what primitive "an absent value" was - so `qs.stringify({ foo: 123, bar: 456 }, { emptyValue: 123 })` would give `'foo&bar=456'`.

I think that's reasonable, since it's pretty cumbersome to do that otherwise.

[2017-08-22 16:50] timhwang21 commented on #223
Sounds good, do you think it would make sense to (eventually) combine with `strictNullHandling`? Instead of `true` that option can just take whatever value you want the absent value to take. Otherwise the user may get unexpected results with `{ strictNullHandling: true, emptyValue: 123 }` -- it'd be user error for sure, but can be reduced by consolidating the settings.

[2017-08-23 00:39] ljharb commented on #223
yeah, i'd think that the options would be incompatible - ie, `strictNullHandling: true` would throw when `emptyValue` is supplied, and `emptyValue: null` would be identical to `strictNullHandling: true`.

[2017-08-30 15:20] aristidesfl commented on #215
@ryan-sherpa did you add support for list of object without indices? Does is support objects with different keys? How does it work?

[2017-09-16 19:26] timhwang21 commented on #223
Hi @ljharb I've pushed up a WIP patchset, ran into a small issue and was hoping to get your feedback. Thanks!

[2017-09-27 07:28] benjick opened #227 "Nested array with arrayFormat: bracket behaves like indices"
See this example here: https://runkit.com/embed/nbgwlle70zl1

[2017-09-29 13:56] ljharb commented on #227
It's `brackets`, not `bracket` - see https://runkit.com/ljharb/59ce50b4e02a3e00122824d6

[2017-09-29 15:00] benjick commented on #227
@ljharb Thank you 🌮

[2017-09-29 15:00] #227 closed

[2017-09-29 15:05] ljharb opened #228 "Ensure options throw if present and incorrect"
Issues like #227 can happen; especially with string options, but also with any other kind.

In the next semver-major, all `parse` and `stringify` options should have runtime type checks to ensure that they're correct, and anything that's conceptually an enum should check that as well.

[2017-10-09 23:06] craigbeck commented on #215
just found this myself... using `arraFormat: 'brackets'` with an array of objects can't be round-tripped

*with option specified it fails:*

[code]

Using default option it round-trips correctly:

[code]

[2017-10-18 07:15] DStoyanoff opened #231 "qs.parse not taking into consideration the ? in the location.search"
Hello,
I am not sure that this can be considered a bug, or it is intended, but we just noticed that when we use location.search to parse the query string, using qs.parse, the parsed object includes the ? from the query.

Example:
Let's say we have the following url: http://localhost:8080/master-games?token=devToken
We try to parse the query string to get the token, by using the following code:
`qs

[2017-10-18 08:13] ljharb commented on #231
This is intended - the `?` isn't technically part of the query string.

You can use the `ignoreQueryPrefix` option (documented in the readme) for `parse` if you want it to do the slice for you.

[2017-10-18 08:13] #231 closed

[2017-10-18 13:45] kmohrf commented on #219
I think I’d be nice if arrayFormat would just accept a function. than we can do whatever we want without without adding any more bloat for specialized array formats.

[2017-10-19 06:10] ljharb commented on #219
@kmohrf that's a very compelling and interesting suggestion. It seems like https://github.com/ljharb/qs/blob/master/lib/stringify.js#L91 could be the callsite, and https://github.com/ljharb/qs/blob/master/lib/stringify.js#L7-L15 are the three implementations for the currently supported formats, and https://github.com/ljharb/qs/blob/master/lib/stringify.js#L165 is where if `arrayFormat` is a functi

[2017-10-19 06:11] ljharb commented on #215
@craigbeck `parse` does not support an `arrayFormat` option.

[2017-10-19 14:16] kmohrf commented on #219
sounds good to me or was that an invitation to create a pull request? :)

[2017-10-24 09:05] loopArray opened #232 "Can not stringify Map or Set object."
When I pass in a parameter type Map or Set object, can not be stringify.
[code]
The desired result is
[code]

[2017-10-24 17:06] ljharb commented on #232
Maps can have object keys; I think you should convert it to an object first. `[...request].reduce((acc, [k, v] => ({ ...acc, [k]: v }), {})` for example.

Anything generic would treat a Map as an iterable of entries, and a Set as an iterable of values, neither of which it sounds like you want.

[2017-10-25 07:34] loopArray commented on #232
Yes, thank you for your reply. Convert to Object seems to be the best choice.

[2017-10-25 07:36] #232 closed

[2017-10-30 16:09] izelnakri commented on #91
Hi, I'm actually disappointed that this issue is closed. I see so many issues raising the same boolean problem.

Heres my suggestion: its ok to not have this behavior by default, we can just have { allowBooleans: true } options to qs.parse() just like many other existing options out there..

[2017-10-30 20:41] ljharb commented on #91
@izelnakri again, you can already do this yourself: https://github.com/ljharb/qs/issues/91#issuecomment-269808663

The issue remains that "true" might be the string "true" or a boolean true; there's no way to know for sure, so since that knowledge is highly specific to your application and your codebase, the only solution *that makes any sense* is for that knowledge to live in your application and

[2017-10-30 21:05] malowitzki commented on #91
@ljharb Seems like this issue still gets the occasional +1 because there is demand in the community for a basic level of decoding built into this package on an opt-in basis.

The "true" string case comes up so often, and in most cases is so obviously something that you'd want coerced, that people want a common package that will do such basic decoding. I'd bet that 99% of the time, coercing "true"

[2017-11-08 14:27] alasdairhurst opened #235 "Cannot use square brackets in key name"
I want to make a request that looks like this:

?foo[bar]=baz

Without looking into all the fancy features that QS provides, i expect the following object:
[code]

I see this:
[code]

I see that square brackets are used as some sort of object accessor but there seems like no documented way of escaping them or disabling this feature that I can see for this simplest of use cases.

[2017-11-08 20:31] ljharb commented on #235
This behavior is a standard convention across the entire web.

If you want square brackets in a key name, you'd need to escape them yourself - `encodeURIComponent('foo[bar]')` - since servers would interpret them the way qs does anyways.

In other words, it's not a simple use case, it's an exceedingly uncommon one for decades on the web.

[2017-11-09 10:15] alasdairhurst commented on #235
Then is it an issue if I get the same behaviour no matter if the square brackets are escaped or not? I originally ran into the issue doing escaping first. (```?foo%5Bbar%5D=baz```)

[2017-11-09 23:38] ljharb commented on #235
Thanks, this information changes things slightly.

Without a doubt, this should be true (take `=~=` here as a magical operator that compares objects by contents):
[code]

If any of these four fail, then there is decidedly a bug in `qs`.

A PR to add these test cases, and fix, is welcome - I'll take a look at it in a few days otherwise.

[2017-11-10 09:56] alasdairhurst commented on #235
Great! I'll push a PR when i get a chance.
The only thing that i'm worried about is if people are currently encoding their square brackets and expecting the current behaviour. Seems like this would count as a breaking change when it goes for release.

[2017-11-10 19:49] alasdairhurst commented on #235
@ljharb
So i've added and ran a few tests including ones in addition to your proposed tests, and all the ones where the square brackets are part of the key do fail.

It uncovers the additional issue that ```{ 'foo[bar]': 'baz' }``` and ```{ foo: { bar: 'baz' } }``` both stringify to ```'foo%5Bbar%5D=baz'```.

In one way it is expected since square brackets are URL encodable, but it's something to

[2017-11-11 06:07] ljharb commented on #235
Hmm, this is definitely complex.

Let me think more about it.

It might be better to change the behavior only when an option is passed, so as to avoid breaking changes - even if that means express users can't access that behavior.

[2017-11-17 22:54] joshjg commented on #235
@ljharb Ran into a similar issue recently - I need to be able to include keys which I have no control over, and may include square brackets/dots. I was wondering if you are aware of a good way to encode/decode them in this case, so as not to be interpreted by qs as nested properties but rather a flat key-value pair.

[2017-11-30 00:09] kaufmann42 commented on #112
@ljharb how would that work? Don't see that in the documentation anywhere.

[2017-11-30 01:20] ljharb commented on #112
@kaufmann42 look in the docs at "This encoding can also be replaced by a custom encoding method set as encoder option:", that section and the one after it.

[2017-11-30 02:04] kaufmann42 commented on #112
@ljharb Ah I see. What I'm looking for is to turn something like:

[code]

into `?a=array,of,stuff&b=array,of,stuff&c=array,of,stuff`. I don't believe that's possible from that function. Is there any way to do something like this?

[2017-11-30 07:16] ljharb commented on #112
@kaufmann42 no, that's what #219 is for tho.

[2017-12-01 12:22] peteboere commented on #91
It's pretty trivial to please most use cases by using the `decoder` option.   Though I appreciate this is not a robust solution.   There would need to be some special syntax to mark non-string type values in the querystring itself.

[code]

[2017-12-01 16:53] ljharb commented on #91
Also with our decoder code, by using `in`, a value of “toString” will return a function. Use `Object.prototype.hasOwnProperty.call`  instead.

[2017-12-04 19:58] jchook opened #237 "Option to avoid percent-encoding sub-delims such as commas"
According to [RFC 3986](https://www.ietf.org/rfc/rfc3986.txt), the query string of a URI may contain sub-delims (including commas). Can we have an option to avoid percent-encoding them? Or possibly don't encode them by default?

### Rationale

Leaving allowed sub-delims unencoded results in far more readable query strings with better overall usability. E.g., `alpha,beta,gamma` is better than `alph

[2017-12-05 03:27] jchook commented on #212
If someone could check my commit, I think it fixes the issue: 59a53c40ba9888df1ae86cd9ddacb08bc13e6bf1

[2017-12-05 04:02] jchook commented on #215
I think the issue with this is the parsing strategy in general...

1. Get a list of key descriptors
2. Get a list of values
3. `merge()` them one-by-one

For `a[0][b]=c&a[1][d]=e`, here is what gets passed into merge:

1. `{a: [{b: 'c'}]}`
2. `{a: [<empty item>, {d: 'e'}]}`

For `a[][b]=c&a[][d]=e`, here is what gets passed into merge:

1. `{a: [{b: 'c'}]}`
2. `{a: [{d: 'e'}]}`

You can see in the

[2017-12-05 05:55] jchook commented on #215
Okay I went ahead and implemented a `normalizeKeys()` solution, but I am realizing the problem stems even farther than I could have supposed.

Apparently `qs` aims to support crackpot garbage such as [converting objects with URI-encoded keys into deeper objects](https://github.com/ljharb/qs/blob/master/test/parse.js#L334) before supporting basic features like strings with empty brackets.

[2017-12-06 06:55] jchook commented on #215
Added support for the object input. All tests passing with 100% coverage. Please review.

[2017-12-17 22:01] igordeoliveirasa opened #238 "How to parse Array of Array without index"
When I parse: filter[order][][]=name&filter[order][][]=ASC

I would expect this:
[code]

But I'm receiving this:
[code]

Since it's an array of array, I need to receive as the first one.

[2017-12-18 16:43] htkoca opened #239 "Doesn't work in the browser - even though it's served on CDNJS"
https://cdnjs.com/libraries/qs

Console reads `qs not defined`. I assume it's because it's built for node / require? Could browser support be added? qs' deep nested parsing is very useful for both front and back end.

Edit: Seems there is provisions in the source code to detect environment already - not sure why it doesn't work. I ran it through browserify and that works, but it should work out of

[2017-12-19 00:03] ljharb commented on #239
That particular build uses `Qs`, not `qs`.

However, I'd suggest not using cdnjs, and instead `npm install`ing all the libs you need, and using a bundler like browserify or webpack.

[2017-12-19 00:03] #239 closed

[2017-12-19 00:04] ljharb commented on #239
Also, it's worth noting that the next major version of `qs` will be removing that custom build, and will be *only* available via CJS and a bundler.

[2017-12-19 00:55] EdonGashi opened #240 "Support for qs.parse(Array)"
Hi, I have a quick question/request.

I want to be able to reproduce (as close as possible) the deserialized objects without posting the form. I'm using javascript to prevent submission, and I'm getting form values via `new FormData(form).entries()` or by manually iterating `form.elements`.

I need to be able to create the final object without going through the serialization process. I noticed tha

[2017-12-19 02:16] EdonGashi commented on #240
Forked dist script and added this, in case anyone needs it:

[code]

[2017-12-19 02:16] #240 closed

[2017-12-19 02:19] ljharb commented on #240
Heads up; instanceof is hugely unreliable, especially with arrays - you want `Array.isArray`.

Separately, an hour is a bit fast to warrant forking something.

I’m still not sure what you’re asking for - if you have an array of entries, you’d want to convert that to an object *before* passing it into `qs`.

[2017-12-19 02:23] EdonGashi commented on #240
Thanks for the suggestions.

Passing an object does not work when I have duplicate keys.
`qs.parse({ 'a': 2, 'a': 3 })` <- this won't work. I cannot convert them to a string because `a` may be a file.

[2017-12-19 02:26] ljharb commented on #240
Yes, i understand that - that means your code that converts the array of entries to an object has to account for a repeated key (presumably by converting the value into an array, and pushing into it) - but this is an assumption that is far too specific and subjective to live in `as` itself.

[2017-12-19 02:38] EdonGashi commented on #240
In some cases such as the one below you have to push in a nested array (the names are not predictable, trying to get this working for any form), this would require rewriting the object merging logic:

[code]

since qs will be used in the server I was looking to mirror the behavior by reusing the same code from the client. I agree it's very specific that is why I closed the issue. Thank you!

[2017-12-19 06:10] ljharb commented on #238
I think you need an explicit index. Otherwise, `filter[order][][]=name&filter[order][][]=ASC` could just as easily be:
[code]
as:
[code]

By providing an index, you can be explicit about which nested array "name" and "ASC" belong to - without which, there's not a reasonable thing for a lib to default to.

[2017-12-19 15:33] EdonGashi commented on #240
I created a `mergeArray` function for this job. `parseKeys` is the only dependency which I can't import from qs. Any idea how to reuse that code without duplicating it locally?

[2017-12-19 15:33] htkoca commented on #239
@ljharb Thanks for the help, I'll try that out. This version is good enough as the project is version locked. I don't have access to change the build environment unfortunately :(

[2017-12-20 01:00] ljharb commented on #215
It looks like that was added [here](https://github.com/ljharb/qs/commit/6667340dd3c7deaa0eb1c27f175faaaf71f19823) - before it was even `qs`. @nlf, any chance you remember why that was added?

It definitely seems weird to `parse` anything but a query string; and I'd be comfortable making that breaking change in v7 in the absence of a justification for keeping it.

[2017-12-20 02:00] jchook commented on #215
The good news is I have some changes that support object input in case we want to keep it.

My main question is... is there some non-obvious, important purpose of [Utils.compact()](https://github.com/ljharb/qs/commit/0f3c540320fe900c0f62fe4ad33eb28c940b8a02#diff-9f97a9c36fbbfb0d19068d6fae3bb84eR121) in qs.parse()?

It seems to break many of my expectations for a robust and interoperable query stri

[2017-12-20 05:51] ljharb commented on #215
By default, sparse arrays are never produced, nor should they be - see https://github.com/ljharb/qs#parsing-arrays

[2017-12-20 22:17] bcharna opened #241 "Parse results in multiple objects with the same key instead of one."
The following stringify/parse sequence works as expected:
[code]
The result is `{"incidents":[{"open":["damaged",{"lost":["red","green"]}]}]}`, which matches `dataB`.

However, the following sequence does not result how I expect it to:
[code]
This results in `{"incidents":["cold",{"open":["damaged"]},{"open":[{"lost":["red","green"]}]}]}`, which does not match `dataA`. Note that the only differenc

[2017-12-22 01:28] jchook commented on #215
Okay, I can still fix the OP's bug, keeping the compacting and object input.

But... why not add an `allowSparse` option while I'm at it? Maybe with a size limit?

Compacting the arrays has its benefits, but you're also discarding information.
E.g. `http://tic.tac.toe/?squares[1][1]=x` might show a tic-tac-toe board with the center marked X.

[2017-12-22 07:16] ljharb commented on #215
Let's save `allowSparse` for a separate issue :-)

[2017-12-22 16:54] dinoboff commented on #163
I think `#`, `[` and `]` should be encoded in query string; see RFC 3986 section 3:
[code]

[2017-12-22 17:25] dinoboff commented on #163
Note that URLSearchParams encode all reserved chars:
[code]

It's not because they are valid that they shouldn't be encoded.

[2017-12-23 03:29] ljharb commented on #212
@jchook would you be able to make a PR, and we can explore it further there?

[2018-01-03 19:58] daveferrara1 opened #243 "addQueryPrefix is non working"
Version: 6.3.2

[code]

I don't seem to get a query param prefix. With or without the encoding: false is non-working.

[2018-01-03 20:08] ljharb commented on #243
What version of `qs` do you have installed?

[2018-01-03 20:08] daveferrara1 commented on #243
6.3.2

[2018-01-03 20:08] #243 closed

[2018-01-03 20:10] ljharb commented on #243
As I'm sure you discovered, that feature was [added in v6.5.0](https://github.com/ljharb/qs/blob/master/CHANGELOG.md#650)

[2018-01-03 20:29] daveferrara1 commented on #243
Yep. You got me on course. Thanks. Works in newest version of course.

[2018-01-07 11:57] maximzasorin opened #244 "Add usage way for browser projects without require"
For example with unpkg.com:

[code]

[2018-01-07 18:18] ljharb commented on #244
No thanks. Every JS project should only be consumable via npm and a build process; eg browserify or webpack, otherwise you can’t make use of modules.

There’s https://wzrd.in if you’re stuck on legacy architecture.

[2018-01-07 18:18] #244 closed

[2018-01-12 03:55] hasbug opened #245 "need some help about array"
use qs.stringify() can get
[code]

but，we need the code lick jQuery ajax
[code]

How to do it？

[2018-01-12 05:35] ljharb commented on #245
I'm not sure what format that data is in. Can you provide actual JS code that uses `qs.stringify`, its string output, and your desired string output?

[2018-01-12 06:39] hasbug commented on #245
raw data：
[code]
output(Form Data):
[code]

Java developer  need：
[code]

It's a bit similar to jQuery Ajax  [traditional: true,]

[2018-01-12 22:32] ljharb commented on #245
In that case, you're trying to omit the encoded `[]` on `img`?

In that case, use the `arrayFormat: "repeat"` [stringify option](https://github.com/ljharb/qs#stringifying).

[2018-01-12 22:32] #245 closed

[2018-01-16 18:34] everdimension opened #246 "[impovement]: better output for { depth: 0 } option"
Desired behavior:

[code]

Current behavior:

[code]

It seems to me that the current output is quite useless, but having a one-level-deep can be quite handy, for example, when dealing with form inputs.

[2018-01-16 23:18] ljharb commented on #246
Hmm, there's no explicit tests for a depth value of zero.

To be honest, both of those look pretty useless to me; but I agree with you that the former is what I'd expect with a depth of zero. What do you get with `depth: 1`?

[2018-01-17 12:25] everdimension commented on #246
with `{ depth: 1 }` you get `{ items: { a: 'one', b: 'two' } }` as expected.

Would you accept a PR for `depth: 0`?

[2018-01-17 19:32] SlaunchaMan opened #247 "Nested object keys are surrounded by brackets when parsed"
Hi there,

Consider the following object:

[code]

Running this through `qs.stringify()` with `encodeValuesOnly` set to `true` I get this:

[code]

So far, so good. However, when _parsing_ this, I get the following:

[code]

As you can see, the `id` and `value` keys of the lowest-level item become `[id]` and `[value]`. Is there a set of options I can use to encode this type of object with multiple

[2018-01-17 19:51] ljharb commented on #247
There's a depth option on "parse"; it defaults to 5. You can pass `{ depth: Infinity }` and that should recurse all the way down.

[2018-01-17 20:14] SlaunchaMan commented on #247
That works, thank you!

[2018-01-17 20:14] #247 closed

[2018-01-17 22:01] ljharb commented on #246
I think a PR with associated tests would be great.

[2018-01-18 16:50] davidfurlong commented on #91
this doesn't seem to work for me.

[2018-01-24 09:20] tangkhaiphuong opened #248 "Support option parse to array instead of object for array encoding url"
I use qs.parse to parse string below

`[0].id=999999&[0].number=0&[0].type=PropertyPicture&[1].id=999999&[1].number=1&[1].type=PropertyPicture&[2].id=10000&[2].number=0&[2].type=PropertyPicture`

And result is object
[code]

So please support object to parse and output array instead of object

[code]

[2018-01-27 00:36] ljharb commented on #248
A key of `[0].id=999999&[0].number` seems like it's nonstandard; query strings *are* objects, conceptually, not arrays.

Try parsing `a[0].id=999999&a[0].number=0&a[0].type=PropertyPicture&a[1].id=999999&a[1].number=1&a[1].type=PropertyPicture&a[2].id=10000&a[2].number=0&a[2].type=PropertyPicture` instead?

[2018-01-27 04:09] michaelblash commented on #219
@ljharb I want to implement this feature but I see a flaw in the @kmohrf suggestion. If `arrayFormat` function accepts an array it should apparently return a string. This string is basically a number of pre-encoded values in a specific format, for example joined by commas. Therefore the user would have to implement his own encoding and even if he wants to utilize default encoder he would not be ab

[2018-01-27 04:57] kmohrf commented on #219
@michaelblash i don’t see much of a problem. the already existing `arrayPrefixGenerators` are functions and receive a prefix and a key, none of which seem to be an array. instead they just append *something* to the prefix. so `'commas'` would just be `prefix => prefix + ','`.
i see where you were going with the array though, but even then I don’t expect any complications because either the passed

[2018-01-27 06:11] ljharb commented on #219
I'd be happy to review a PR for either, or both, approaches :-)

[2018-02-02 18:18] abirmingham opened #249 "If { allowDots: true } is passed, dots in property names should be encoded"
Currently `Qs.stringify({ 'this.is.unfortunate': 2}, { allowDots: true })` results in `'this.is.unfortunate=2'`, which is ambiguous. `'this.is.unfortunate=2'` can be interpreted as both `{ this: { is: { unfortunate: 2 } }`, and also `{ 'this.is': { unfortunate: 2 } }`, and also `{ this: { 'is.unfortunate': 2 } }`. Truly this is unfortunate - see my fiddle [here](https://jsfiddle.net/z95qox6j/1/).

[2018-02-13 21:03] Noitidart commented on #222
I agree that hash should not be used. But facebook oauth uses the hash. It returns something like this:

[code]

[2018-02-13 23:08] Noitidart commented on #222
Oh wow google also does this when it's local host:

    http://127.0.0.1/nativeshot_gdrive#access_token=ya29.CjAfA1nxnnVzvfu9fSXT2yvQD_sJFO8yo8yD7szlFyVJGupHVGQzuDcTvSoKOq95FH0&token_type=Bearer&expires_in=3600

[2018-02-13 23:44] ljharb commented on #222
It’s not relevant who does a bad thing; the reputation of specific companies can’t possibly change that a bad thing is bad.

[2018-02-13 23:44] Noitidart commented on #222
Agreed. Just sharing.

[2018-02-17 10:30] franktopel opened #251 "Allow usage via CDN"
That is, create a global Object like say `qs` when loading via https://cdnjs.cloudflare.com/ajax/libs/qs/6.5.1/qs.min.js or other CDN. I know you're stongly opinionated on that but it wouldn' t be too hard to create a `qs.global.js` build and help developers 'stuck in a legacy'  architecture.

[2018-02-19 08:06] ljharb commented on #251
https://github.com/ljharb/qs/blob/master/dist/qs.js already does that; it sets a `Qs` global.

However, that dist file will be removed in v7 (see #129).

[2018-02-19 08:06] #251 closed

[2018-03-01 15:53] lmanzurv opened #252 "Array of objects not parsed correctly"
When parsing the URL `?param[][id]=5a53336d48ad1c6cba0e6ae8&param[][id]=5a53336d48ad1c6cba0e6ae7` I get

`
param: [{
    id: ['5a53336d48ad1c6cba0e6ae8', '5a53336d48ad1c6cba0e6ae7']
}]
`

instead of

`
param: [
    { id: '5a53336d48ad1c6cba0e6ae8' },
    { id: '5a53336d48ad1c6cba0e6ae7' }
]
`

I am parsing as `qs.parse(queryString, { arrayLimit: 50, ignoreQueryPrefix: true })`.

Am I missing somet

[2018-03-01 21:18] ljharb commented on #249
I'm not sure I understand; there's multiple parsing modes in `qs`; when you choose one, you're responsible for knowing (somehow) that you need to choose the same one on the other end. Specifically, `parse(stringify(x, opts), opts)` should always be the same for any `opts`.

Can you elaborate on your proposal?

[2018-03-01 21:28] ljharb commented on #252
This is expected; because of the `[]`, qs can't know if you want one array or two. Try using indexes: `?param[0][id]=5a53336d48ad1c6cba0e6ae8&param[1][id]=5a53336d48ad1c6cba0e6ae7`.

[2018-03-02 01:29] abirmingham commented on #249
Sure.

The issue is not that the serialization options need to be tracked from the time of serialization to the time of deserialization. This would be nice in theory, but I'm not sure if it's possible in practice. At any rate, this issue is not that.

This issue is about lossiness when serializing objects with the allow-dot option, in the case where those objects have string keys which themselves

[2018-03-02 02:03] ljharb commented on #249
aha, I see what you mean:
[code]

And you'd propose that `qs.stringify({ "name.obj": { "first": "John", "last": "Doe" } }, opts)` produce, instead of `name.obj.first=John&name.obj.last=Doe`, `name%2Eobj.first=John&name%2Eobj.last=Doe`, such that `qs.parse('name%2Eobj.first=John&name%2Eobj.last=Doe')` would produce something like the original object? (currently, it doesn't do that; the `%2E` is dec

[2018-03-02 08:48] lmanzurv commented on #252
But the structure references an array of *objects*. To me it is very evident that having the same key twice inside an array references 2 different objects, not an array inside the property. In that case, why bother with building an array with just 1 object at all?

I suspect wanting an array of objects where a property of the object has an array would be something like `?param[][id][]=5a53336d48ad

[2018-03-02 21:58] ljharb commented on #252
`[]` at the end of a key means "items with this key belong to the same array". I don't think there's as wide of a convention between `a[][b]` and `a[][c]` being one array or two.

Can you think of a configuration option we could use that would clearly indicate that choice, and would mesh well with the default?

[2018-03-07 14:20] lmanzurv commented on #252
Sure, and that means that saying `param[][id][]=X&param[][id][]=Y` would be hard to know if you refer to `[{id: [X,Y]}]` or `[{id: X}, {id: Y}]`. But since I have `param[][id]=X&param[][id]=Y` where I'm using the same key without the suffixed `[]`, it is safe to assume that they DON'T belong to `[{id: [X,Y]}]`, but in fact are `[{id: X}, {id: Y}]`.

In the case of saying `param[][id][]=X&param[][k

[2018-03-28 16:58] waynebloss commented on #91
Why not just delimit strings like JSON does?

[2018-03-28 20:59] ljharb commented on #91
@waynebloss because HTTP query strings aren't encoded like JSON is, so that would break a bunch of serverside implementations.

[2018-03-29 00:32] waynebloss commented on #91
Thanks @ljharb, I was thinking that anyone using this library would be doing so for its ability to send a graph instead of a flat structure and therefore, you'd have to use the same parser protocol on the server anyway.

[2018-04-01 17:28] carpben opened #253 "Parse includes the '?' char"
I think that the library is often used for parsing the url search string to a JS object. When using the parse function includes the '?' from the begining of the query in the first key. For example,
{?country: "Canada"}. Perhaps it can be useful to remove the '?' char from the beginning of the string.

[2018-04-01 18:03] ljharb commented on #253
This is by design; you can use `window.location.search.slice(1)` or the `ignoreQueryPrefix` parse option.

[2018-04-01 18:03] #253 closed

[2018-04-08 03:39] shri3k commented on #222
@Noitidart it really isn't abusing hash. In fact, it's the correct implementation because you're probably requesting implicit grant type and the callback url with query params would mean it'd be part of the request however hash are usually for browsers only.

[2018-04-08 04:12] Noitidart commented on #222
Interesting thanks @shri3k

I also found that `urijs` module - https://www.npmjs.com/package/urijs - gives us `.fragment`, and `.search` and `.query`. and `.hash` to give us exactly what we want.

[2018-04-20 08:31] ethanresnick opened #254 "Add format: WHATWG"
The WHATWG Url spec requires the encoding of different characters in query strings than either RFC 3986 or RFC 1738. It might be nice to have an option for `qs.stringify` that used WHATWG behavior, as another value for the `format` option.

[2018-04-23 19:49] ljharb commented on #254
That seems like a good idea. Would you be willing to prepare a PR, so I can evaluate the complexity?

[2018-05-03 06:11] jamieYou opened #255 "Does qs.parse have a callback function?"
I want to keep the numbers
[code]
Does 'qs.parse' provide similar functionality?

[2018-05-03 14:37] ljharb commented on #255
JSON.parse takes a reviver; qs.parse doesn’t. However, it does have a few options that would let you keep the numbers.

https://github.com/ljharb/qs/issues/91#issuecomment-348481496 seems like it would be helpful.

[2018-05-03 15:55] abdulhannanali opened #256 "[Question] Older browsers support"
Hey there,

I want to use this module on IE5.5+ and Opera 6+ (much harder than ie6), since there's no table provided which details about the browser support, @ljharb can you help please if you have any related data and what version target if any you have in mind. Thanks a lot for reading.

Kind Regards,
Hanann

[2018-05-03 16:09] ljharb commented on #256
Although I don't think anybody still uses either of those browsers (I'd love to hear why you want to support them), qs should absolutely work in all ES3 browsers. If you find a bug in any browser I'm able to access (which includes IE 6 and Opera 11, but not older than that) then I'm happy to fix it.

[2018-05-04 12:14] kvendrik opened #257 "Make stringify object type more specific"
I feel like the `qs.stringify` object argument TypeScript type might be a bit too forgiving. Currently its set to `any` and I was wondering if it wouldn't be better to set it to something like:

[code]

The advantage here would be that there is more clarity about what the object can contain. Users would for example get an error when they accidentally throw a function in there somehow.

The above p

[2018-05-04 15:59] ljharb commented on #257
qs is written in JavaScript, and has no types. You'll presumably need to file an issue on DefinitelyTyped, which is typically where type definitions are stored.

[2018-05-04 15:59] #257 closed

[2018-05-04 16:37] kvendrik commented on #257
For reference: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/25535

[2018-05-05 16:52] Leeh91 opened #258 "Stringify error"
Hi, I'm trying to stringify a json object but I got  RangeError: Maximum call stack size exceeded

this is the json object
[code]

[2018-05-05 22:03] ljharb commented on #258
That suggests you have a cycle - what's `customer.default_payment` look like? What happens if you remove that?

Also, what's in the `5aeddfbbbd6b4e0dc4229453` and `5aecfea270524f47f4c6565c` variables?

[2018-05-06 16:07] Leeh91 commented on #258
@ljharb  customer.default_payment stores the credit token like

and 5aeddfbbbd6b4e0dc4229453, 5aecfea270524f47f4c6565c are id values for order and address

[2018-05-07 05:34] ljharb commented on #258
@Leeh91 yes but in your snippet, they're not in quotes, which means they're variables, not strings.

[2018-05-07 10:25] #258 closed

[2018-05-08 21:39] abdulhannanali commented on #256
@ljharb Because Opera 6 Matters too :wink: I am doing some browser compatibility research and it's interesting to see how far we can stretch. I will try out querystring library in older browsers. Browsers lower than Opera 6- are way too :older_man: :older_woman:  (old) , and even javascript 1.3 implementation in opera 6 lacks some of the features too.

I am not sure if it would work though, since

[2018-05-08 21:41] abdulhannanali commented on #256
For the sake of comparison, browsers such as Opera 8 are IE5.5 or lower level. So there's a good chance of a failing and I can understand why you'd not want to make this code targeted towards such a non existent audience. I guess I will hack something up for my usecase :clinking_glasses:

[2018-05-08 23:42] ljharb commented on #256
@abdulhannanali I think it's reasonable for older browsers to require that `JSON` be polyfilled; please polyfill it as needed when testing :-)

Please do file issues for specific bugs; I'm definitely willing to fix them on a case-by-case basis.

[2018-05-13 08:46] leoyli opened #259 "Is there a option to prevent the same query key being populating as array?"
Hi there,

I'm trying to figure out if `qs.parse` allow us to update the query key value instead of collecting those as an array from the doc, but I can not find anything about that so I'm asking here.

By default,

[code]

Instead, I just care about the last value assigned to `num` in the query. i.e.

[code]

Is there a `some_option ` to do so?

I'm working on an API and want a consistent way to

[2018-05-13 19:18] leoyli opened #260 "Bug Report: `qs.parse` when parsing a string with empty indexes `[]` in a key."
I think there is a bug in `parseArrays: false` option:

#### normal case with index

[code]

#### buggy case with empty index

[code]

Instead, I will expect if I set `parseArrays: false`, I will receive no `Array`:

[code]
That is because the array parsing is only preserving the order, not by their true indexes in the query, according to the doc:

Also it is consistent with when other option bein

[2018-05-13 19:36] leoyli opened #261 "Feature request: `depth: false` or `parseDepth: false` for `qs.parse`"
Similar to the relationship `arrayLimit: 0` and `parseArrays: false`:

[code]
Therefore for this:

[code]

I believe in some scenario, people may want to suppress parse into any depth, i.e.:

[code]

so that we can expect for any query key, its value will never be an `object` since they are all decoupled,
[code]

Any opinion?

[2018-05-13 20:43] ljharb commented on #259
One common way it's done is that array keys always have a `[]` at the end of the name - that's how PHP and Rails do it, for example.

I don't believe there's currently an option to treat duplicate non-array keys as "last one wins" (I don't think "first one wins" would make any sense).

However, since in my experience the most typical webserver setups are:
 1. `a=1&a=2` gives a as `2` (`a[]=1&a[]=2

[2018-05-13 20:49] ljharb commented on #260
Regarding bug 1: `parseArrays: false` should work like this example in the readme:
[code]

Indeed, this is a bug; I've added it to the tests and will fix it shortly.

Regarding bug 2: can you file that separately, and we can discuss there?

[2018-05-13 20:50] #248 closed

[2018-05-13 20:50] ljharb commented on #261
This seems like a duplicate of #246?

[2018-05-13 20:56] leoyli commented on #261
@ljharb I read that.  It actually not a duplicated since this request added new option instead of modified the current behaviour.  And Indeed `depth: 0` makes no sense to me, but it is consisted with the current logic, and remains the flexibility, which could be a case for people to choose.  Also I think added `false` option should completely turn the depth parsing off, but `0` should behave liter

[2018-05-13 20:59] leoyli opened #262 "Bug Report: `qs.parse` for parsing a string contains both [] and [0]."
## Bug Report

I think here is a bug: `qs.parse` for parsing a string contains both [] and [0]. (not being considered as mixing notation)

[code]

Based on the result above (`// *` and `// **`), whenever the string contain `a[]`, then the value will always be preserved a the first member with `0` index; However, if the string contains `a[0]` at same time, the value of `a[0]` is always set to the l

[2018-05-13 21:01] leoyli commented on #260
Filed another bug in #262.

[2018-05-13 21:11] leoyli commented on #259
@ljharb Yeah

I see. I currently just added a function to modify the result from `qs.parse()` in my express app for recursivly handling the **last-one-win** case (so that I don't need to check if it is a string or array every time, and being safely use string method upon the value of a key).

If add this option is considered, then I actually would suggest to also support **first-one-win** as an op

[2018-05-14 02:36] #260 closed

[2018-05-14 02:39] ljharb commented on #261
`qs.parse('a[i]=na', { depth: 0 }) === { a: { '[i]': 'na' } }` seems weird to me - zero depth, to me, seems like it would be `{ 'a[0]': 'na' } `.

In other words, I don't think `{ a: { '[i]': 'na' } }` ever makes sense (although I don't want to make a breaking change if I can avoid it)

[2018-05-14 02:43] ljharb commented on #262
What would you expect from `qs.parse('a[]=1&a[0]=2&a[]=3')` or `qs.parse('a[]=1&a[0]=2&a[]=3&a[1]=4&a[]=5')`?

It kind of seems like the current behavior on master is already "all `[]` always come first, then by-index items".

[2018-05-14 02:44] ljharb commented on #262
I certainly don't think `a[]=1&a[0]=2` should give `[1, 2]` - `a[]` always means a new item (I'm not sure why arrayLimit 0 does that).

[2018-05-14 02:45] leoyli commented on #261
+1, I thought it were working like this way `{ 'a[0]': 'na' }` when I was trying to configuring the parser function in my express app. So I'm wondering if it should be fixed like a bug, or, like what I suggested, introducing another option and have no breaking changes.

[2018-05-14 03:06] leoyli commented on #262
Ok, if [] is always treated as an independent new item, then the following result met my expectations.

[code]

But as I posted, it have some weird behaviour:

[code]

In above result, the query itself is equivalent because I just shift `a[]=new` 1 position each time, but the position of `a[0]` and `a[]` are exchanged in the last two cases, which is surprising.

And is the behaviour like in `array

[2018-05-14 03:19] ljharb commented on #261
There's no tests for a depth of 0, at least. Only 1, 5000, and the default of 5.

That said, maybe it'd be better to add support for `false`, and then in the next semver-major, make `0` work like `false`.

[2018-05-17 02:47] jackypan1989 commented on #214
To extend query parser to handle 'true' / 'false' / 'null' in qs
https://github.com/jackypan1989/express-query-parser

[2018-05-17 02:49] jackypan1989 commented on #188
To extend query parser to handle 'true' / 'false' / 'null' in qs
https://github.com/jackypan1989/express-query-parser

[2018-05-17 22:16] abdulhannanali commented on #256
@ljharb After some thinking I just ended up not testing these browsers, since they make maintenance harder without much gains. Also, the features I want to test compatibility for, are all going to return false in these ancient Egyptian era browsers anyways. Thanks a lot for your help. :)

[2018-05-17 22:16] #256 closed

[2018-05-25 13:21] wangxi761 opened #263 "stringify object in object is null"
i use`qs.stringify({a:{b:'c'}})`
and the result is  "a="

[2018-05-26 01:39] ljharb commented on #263
`qs.stringify({a:{b:'c'}})` gives me `'a%5Bb%5D=c'` - can you elaborate on how you're getting this result?

[2018-05-26 13:37] wangxi761 commented on #263
@ljharb  oh  sorry,i got "querystring"  not "qs"

[2018-05-26 13:37] #263 closed

[2018-05-30 09:37] watery opened #264 "Add support for sets"
If the object passed to the `stringify` method holds a [Set](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set), the whole key and value are ignored by the stringification process. A custom encoder can't be used either, because it doesn't receive the set-typed entry.

[2018-05-30 15:44] ljharb commented on #264
Would you suggest stringifying a Set as a generic iterable?

I'm a little unclear on why a custom encoder doesn't work, could you provide an example?

[2018-05-31 07:43] watery commented on #264
It's the first time I'm using Sets, so I may be missing something. Moreover, as shown in the [compatibility table](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set#Browser_compatibility), they're not fully supported, I guess some special handling would be needed &mdash; I'm polyfilling them with [`core-js`](https://www.npmjs.com/package/core-js)

In my applicati

[2018-05-31 15:23] ljharb commented on #264
Sure, your encoder has to *encode* things to be useful. If you’re just returning what you get, you’re not encoding anything.

Try an encoder that uses Array.from when the value is a Set

[2018-06-01 05:34] nursultan156 commented on #91
meet the same problem.
why, don't you just encode and decode quotation mark " ?
if 'a=true', decode as { a: true }
if 'a="true"' (url encoded version will be 'a=%22true%22'), decode as {a:"true"}
this is a standard url encoding

[2018-06-01 05:48] ljharb commented on #91
@nursultan156 in no way is that a "standard", that's the problem. It's certainly one reasonable solution, but the *actual standard* is that `a=true` means a string `true`, and `a="true"` means a string `"true"`, and I'm quite sure there are plenty of websites that rely on this.

[2018-06-01 06:33] nursultan156 commented on #91
@ljharb what if, while encoding, you wold just wrap all values (except numbers and booleans) in extra quotation marks, then while decoding unwrap them, but those which doesn't have extra quotation marks try to parse as int or boolean.

[2018-06-01 06:34] ljharb commented on #91
@nursultan156 there's no amount of quotes that would work, because a billion quotes would still be parsed as normal parts of the string.

[2018-06-01 06:54] nursultan156 commented on #91
@ljharb as an example:
`foo: {
        bar: 'baz'
    }` will be encoded as foo[bar]="baz",
`foo: {
        bar: 123
    }` will be encoded as foo[bar]=123,
`foo: {
        bar: '123'
    }` will be encoded as foo[bar]="123",
`foo: {
        bar: true
    }` will be encoded as foo[bar]=true,
`foo: {
        bar: 'true'
    }` will be encoded as foo[bar]="true",
`foo: {
        bar: '"baz"'
    }`

[2018-06-01 07:09] ljharb commented on #91
@nursultan156 i understand what you're suggesting, but that's not what "every webserver" would expect, and that's not a standard.

[2018-06-01 07:11] nursultan156 commented on #91
@ljharb it would be good adding it as option

[2018-06-01 07:13] ljharb commented on #91
@nursultan156 it already exists; use a custom encoder.

[2018-06-01 09:04] watery commented on #264
I posted too quickly, what I initially observed is that:

[code]

gives:

[code]

while I would expect to at least print the _keys_ in *b* (i.e. `k`) if I'm correctly understanding [the docs](https://github.com/ljharb/qs#stringifying):

[2018-06-01 16:05] waynebloss commented on #91
Building query strings with deeply nested values delimited by square brackets is also a completely non-standard that all web servers won't expect, so I'm not sure why the insistence on limiting developers to existing standards.

What's a standard webserver going to do with a key like "[a][b][c][d]" anyway? For that key to be useful, you're going to use something that understands that key on the we

[2018-06-01 16:17] waynebloss commented on #91
Furthermore, when I'm building apps they're just for my server and not all web servers everywhere. So if some _other_ middle/caching/proxy/load-balancing server parsed my query value as `"hello"` instead of `hello`, everything would still work and it wouldn't be the end of the world.

Not being able to parse things correctly is much more annoying than being "non-standard" IMO.

[2018-06-01 16:18] waynebloss commented on #91
In the end, it's up to whatever @ljharb wants to do since he's the sheriff around these parts.

You can always fork and advertise the advantages of your lib!

[2018-06-01 17:44] ljharb commented on #91
@waynebloss It's definitely standard, and something all Rails and PHP and node express servers would expect, which is a significant portion of the entire internet.

I totally agree that as long as you're pairing *your* server with *your* client config then everything is fine! You can already do everything asked for in this proposal by providing a custom encoder, so I'm not sure why you'd need to f

[2018-06-01 18:13] waynebloss commented on #91
@ljharb I would prefer a simple portable, configurable option over a chunk of code that I have to copy to every project. The only other reason I say to fork is because that's a common refrain in conversations such as these - the option is always there.

Perhaps wrapping qs in another package would be a more agreeable compromise in this case.